<div class="panel panel-primary">
  <div class="panel-heading">User Management</div>

  <div data-ng-if="mainCtrl.isAdmin()" class="panel-body fixed-panel">
    <div class="container-fluid">
      <!-- First row -->
      <div class="row">
        <!-- Names Filter & List -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <label>Name:</label>
          <input type="text" data-ng-model="usersCtrl.nameFilter" size="7"/>
          <button class="btn btn-xs btn-info" data-ng-click="usersCtrl.findUsers()">
            <span class="glyphicon glyphicon-search"></span> Find
          </button>
          <div style="border:3px solid #337ab7; height:200px; max-height:200px; min-height:200px; overflow:auto; vertical-align:top;">
            <span data-ng-repeat="user in usersCtrl.users" data-ng-click="usersCtrl.selectUser(user)" style="margin-left:5px;">
              <a href="javascript:void(0);">{{user.first_name}} {{user.last_name}}</a><br/>
            </span>
          </div>
        </div>
        <!-- Selected User - Details -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <label data-ng-if="usersCtrl.selectedUser == null">No User Selected</label>
          <label data-ng-if="usersCtrl.selectedUser != null">{{usersCtrl.selectedUser.first_name}} {{usersCtrl.selectedUser.last_name}}</label>
          <div style="border:3px solid #337ab7; height:200px; max-height:200px; min-height:200px; overflow:auto; vertical-align:top;">
            <div data-ng-if="usersCtrl.selectedUser != null" style="margin-left:5px;">
              <div data-ng-repeat="email in usersCtrl.selectedUser.emails">
                Email ({{email.type}}): {{email.email}}
              </div>
              <hr style="margin:3px;" />
              <div data-ng-repeat="phone in usersCtrl.selectedUser.phones">
                Phone ({{phone.type}}): {{phone.phone}}
              </div>
              <hr style="margin:3px;" />
              <span>
                Login enable: <input type="checkbox" data-ng-click="usersCtrl.enableDisableLogin()"
                  data-ng-model="usersCtrl.selectedUser.enabled" data-ng-disabled="usersCtrl.isSelf()"/>
                &nbsp;&nbsp;Email enable: <input type="checkbox" data-ng-click="usersCtrl.enableDisableEmail()"
                  data-ng-model="usersCtrl.selectedUser.email_enabled"/>
              </span><br/>
            </div>
          </div>
        </div>
        <!-- Selected User - Roles -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <label>Roles</label>
          <div style="border:3px solid #337ab7; height:200px; max-height:200px; min-height:200px; overflow:auto; vertical-align:top;">
            <div data-ng-if="usersCtrl.selectedUser != null" data-ng-repeat="role in usersCtrl.userRoles" style="margin-left:5px;">
              <input type="checkbox" data-ng-model="role.ok" data-ng-click="usersCtrl.roleToggle(role)"/> View,
              <input type="checkbox" data-ng-model="role.edit" data-ng-click="usersCtrl.roleEditToggle(role)"
                  data-ng-disabled="!role.ok" /> Edit
              &nbsp;&nbsp;&nbsp;{{role.display}}
            </div>
          </div>
        </div>
        <!-- Emails and Phones -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <label>Emails & Phones</label>
          <div align="center" style="border:3px solid #337ab7; height:200px; max-height:200px; min-height:200px; overflow:auto; vertical-align:top;">
            <table align="center">
              <tr><td style="height:1.5em;"> </td></tr>
              <tr style="vertical-align:center;">
                <td>Email (Work)</td><td><input type="text" data-ng-model="usersCtrl.userEmailWork"/></td>
              </tr>
              <tr><td style="height:.25em;"> </td></tr>
              <tr style="vertical-align:center;">
                <td>Email (Other)</td><td><input type="text" data-ng-model="usersCtrl.userEmailOther"/></td>
              </tr>
              <tr><td style="height:.25em;"> </td></tr>
              <tr style="vertical-align:center;">
                <td>Phone (Work)</td><td><input type="text" data-ng-model="usersCtrl.userPhoneWork"/></td>
              </tr>
              <tr><td style="height:.25em;"> </td></tr>
              <tr style="vertical-align:center;">
                <td>Phone (Mobile)</td><td><input type="text" data-ng-model="usersCtrl.userPhoneMobile"/></td>
              </tr>
              <tr><td style="height:1.5em;"> </td></tr>
              <tr style="vertical-align:center;">
                <td colspan="2" align="center">
                  <button class="btn btn-xs btn-info center-block pull-left"
                      data-ng-disabled="usersCtrl.userContactsButtonsDisabled()"
                      data-ng-click="usersCtrl.userContactsReset()">Reset</button>
                  <button class="btn btn-xs btn-warning center-block pull-right"
                      data-ng-disabled="usersCtrl.userContactsButtonsDisabled()"
                      data-ng-click="usersCtrl.userContactsSet()">Set</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- Second row -->
      <div class="row">
        <!-- Get new password -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <label>Get new password</label>
          <div align="center" style="border:3px solid #337ab7; height:200px; max-height:200px; min-height:200px; overflow:auto; vertical-align:top;">
            <table style="margin-top:7px;">
              <tr style="vertical-align:center;">
                <td><label>{{usersCtrl.newUserPassword}}</label></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td align="center">
                  <button class="btn btn-xs btn-warning center-block pull-right"
                          data-ng-disabled="usersCtrl.selectedUser == null"
                          data-ng-click="usersCtrl.userPasswordRenew()">Renew</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- New User Add -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <label>Add New User</label>
          <div align="center" style="border:3px solid #337ab7; height:200px; max-height:200px; min-height:200px; overflow:auto; vertical-align:top;">
            <table style="margin-top:7px;">
              <tr><td>First name</td><td><input type="text" data-ng-model="usersCtrl.newUserFirstName"></td></tr>
              <tr><td>Last name</td><td><input type="text" data-ng-model="usersCtrl.newUserLastName"></td></tr>
              <tr><td>Email (Work)</td><td><input type="text" data-ng-model="usersCtrl.newUserEmailWork"></td></tr>
              <tr><td>Email (Other)</td><td><input type="text" data-ng-model="usersCtrl.newUserEmailOther"></td></tr>
              <tr><td>Phone (Work)</td><td><input type="text" data-ng-model="usersCtrl.newUserPhoneWork"></td></tr>
              <tr><td>Phone (Mobile)</td><td><input type="text" data-ng-model="usersCtrl.newUserPhoneMobile"></td></tr>
              <tr>
                <td colspan="2"><button class="btn btn-xs btn-warning center-block"  style="margin-top:5px;"
                    data-ng-click="usersCtrl.addNewUser()" data-ng-disabled="usersCtrl.addNewUserDisabled()">Add</button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
