<div class="panel panel-primary">
  <div class="panel-heading">
    <span style="font-weight:bold;">Projects</span>
    <button class="pull-right btn btn-xs btn-info" style="margin-left:10px" data-ng-click="projectsCtrl.refresh()">
      <span class="glyphicon glyphicon-refresh"></span> Refresh</button>
  </div>

  <div class="panel-body fixed-panel" style="padding:5px">
    <div class="container-fluid">
      <div class="row">
        <!-- Busy overlay -->
        <div data-ng-if="projectsCtrl.busy" style="position: fixed; top: 0px; left: 0; z-index: 9999; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8);">
          <img src="images/animatedEllipse.gif" style="position: absolute; z-index: 10000; display: block; margin: auto auto; left: 0px; right: 0px; top: 0px; bottom: 0px;" />
        </div>
        <!-- Left Margin -->
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <!-- Projects -->
          <table class="table table-condensed table-bordered table-hover">
            <tr><th class="bg-primary text-center">Projects ({{projectsCtrl.projects.length}})</th></tr>
            <tr data-ng-repeat="project in projectsCtrl.projects" style="background-color:{{projectsCtrl.projectRowColor(project)}};">
              <td class="cursor: pointer;">
                <span style="width:20px; background-color:{{projectsCtrl.statusColor(project.status)}}; border:2px solid #663300; border-radius:5px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a href="javascript:void(0);" data-ng-click="projectsCtrl.selectProject(project._id)">{{project.name}} ({{project.status}})</a>
              </td>
            </tr>
            <tr data-ng-if="projectsCtrl.canCreateProject()">
              <td>
                <input data-ng-model="projectsCtrl.newProjectName" placeholder="New project name"/>
                <button data-ng-disabled="projectsCtrl.newProjectName == ''" class="btn btn-xs btn-success" data-ng-click="projectsCtrl.createNewProject()">Create</button>
              </td>
            </tr>
          </table>
          <!-- Phases -->
          <table class="table table-condensed table-bordered table-hover">
            <tr><th class="bg-primary text-center">Phases ({{projectsCtrl.phases.length}})</th></tr>
            <tr data-ng-repeat="phase in projectsCtrl.phases" style="background-color:{{projectsCtrl.phaseRowColor(phase)}};">
              <td>
                <span style="width:20px; background-color:{{projectsCtrl.statusColor(phase.status)}}; border:2px solid #663300; border-radius:5px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a href="javascript:void(0);" data-ng-click="projectsCtrl.selectPhase(phase._id)">{{phase.name}} ({{phase.status}})</a>
              </td>
            </tr>
            <tr data-ng-if="projectsCtrl.canAddPhase()">
              <td>
                <input data-ng-model="projectsCtrl.newPhaseName" placeholder="New phase name"/>
                <button data-ng-disabled="projectsCtrl.newPhaseName == ''" class="btn btn-xs btn-success" data-ng-click="projectsCtrl.addNewPhase()">Add</button>
              </td>
            </tr>
          </table>
          <!-- Processes -->
          <table class="table table-condensed table-bordered table-hover">
                <tr><th class="bg-primary text-center">Processes ({{projectsCtrl.processes.length}})</th></tr>
                <tr data-ng-repeat="process in projectsCtrl.processes" style="background-color:{{projectsCtrl.phaseRowColor(phase)}};">
                    <td>
                        <span style="width:20px; background-color:{{projectsCtrl.statusColor(process.status)}}; border:2px solid #663300; border-radius:5px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a href="javascript:void(0);" data-ng-click="projectsCtrl.selectProcess(process)">{{process.name}} ({{process.status}})</a>
                    </td>
                </tr>
                <!--tr data-ng-if="projectsCtrl.canAddPhase()">
                    <td>
                        <input data-ng-model="projectsCtrl.newPhaseName" placeholder="New phase name"/>
                        <button data-ng-disabled="projectsCtrl.newPhaseName == ''" class="btn btn-xs btn-success" data-ng-click="projectsCtrl.addNewPhase()">Add</button>
                    </td>
                </tr-->
            </table>
        </div>
        <!-- Detail Pane -->
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <!-- Project Selected -->
          <table data-ng-if="projectsCtrl.selectedProject != null"
              class="table table-condensed table-bordered table-hover">
            <tr>
              <th class="bg-primary text-center">
              Project '{{projectsCtrl.selectedProject.name}}' ({{projectsCtrl.selectedProject.status}})
                <label style="width:25px;"></label>
                <span data-ng-if="projectsCtrl.isBuildWhizAdmin()">
                  Admin: <div class="btn-group" data-uib-dropdown>
                  <button id="project-manager-dropdown" type="button" class="btn btn-info btn-xs" data-uib-dropdown-toggle>
                    {{projectsCtrl.selectedProjectManager.name}} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="project-manager-dropdown">
                    <li data-ng-repeat="projectManager in projectsCtrl.phaseManagers" role="menuitem">
                      <a href="javascript:void(0)" data-ng-click="projectsCtrl.projectManagerSelect(projectManager)">{{projectManager.name}}</a>
                    </li>
                  </ul>
                  </div>
                  <button class="btn btn-success btn-xs" data-ng-click="projectsCtrl.projectManagerSet()">
                    <span class="glyphicon glyphicon-ok-circle"></span> Set</button>
                </span>
              </th>
            </tr>
            <tr data-ng-if="projectsCtrl.isProjectAdmin() || projectsCtrl.isBuildWhizAdmin()">
              <td>
                <button class="btn btn-success btn-xs" data-ng-click="projectsCtrl.launchSelectedProject()"
                    data-ng-disabled="projectsCtrl.selectedProject.status != 'defined'"><span class="glyphicon glyphicon-play"></span> Launch</button>
                <label style="width:25px;"></label>
                <label><input type="checkbox" data-ng-model="projectsCtrl.selectedProject.public" data-ng-change="projectsCtrl.projectPublicChanged()">Public</label>
                <label style="width:25px;"></label>
                <button class="btn btn-danger btn-xs" data-ng-click="projectsCtrl.endSelectedProject()"
                        data-ng-disabled="!projectsCtrl.selectedProject.can_end || projectsCtrl.selectedProject.status == 'ended'"><span class="glyphicon glyphicon-pause"></span> End</button>
                <button class="btn btn-danger btn-xs" data-ng-click="projectsCtrl.deleteSelectedProject()"
                        data-ng-disabled="projectsCtrl.selectedProject.status != 'ended'"><span class="glyphicon glyphicon-remove-circle"></span> Delete</button>
              </td>
            </tr>
            <tr data-ng-if="!projectsCtrl.isProjectAdmin() && !projectsCtrl.isBuildWhizAdmin">
              <td align="center"><span style="color:red;">No access to this part</span></td>
            </tr>
          </table>
          <!-- Phase Selected -->
          <table data-ng-if="projectsCtrl.selectedPhase != null"
                   class="table table-condensed table-bordered table-hover">
                <tr>
                    <th class="bg-primary text-center">
                        Phase '{{projectsCtrl.selectedPhase.name}}' ({{projectsCtrl.selectedPhase.status}})
                        <label style="width:25px;"></label>
                        <span data-ng-if="projectsCtrl.isBuildWhizAdmin()"></span>
                    </th>
                </tr>
                <tr data-ng-if="projectsCtrl.isPhaseAdmin() || projectsCtrl.isProjectAdmin() || projectsCtrl.isBuildWhizAdmin()">
                    <td>
                      Admin: <div class="btn-group" data-uib-dropdown>
                      <button id="phase-manager-dropdown" type="button" class="btn btn-info btn-xs" data-uib-dropdown-toggle>
                        {{projectsCtrl.selectedPhaseManager.name}} <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="phase-manager-dropdown">
                        <li data-ng-repeat="phaseManager in projectsCtrl.phaseManagers" role="menuitem">
                          <a href="javascript:void(0)" data-ng-click="projectsCtrl.phaseManagerSelect(phaseManager)">{{phaseManager.name}}</a>
                        </li>
                      </ul>
                      </div>
                      <button class="btn btn-success btn-xs" data-ng-click="projectsCtrl.phaseManagerSet()">
                        <span class="glyphicon glyphicon-ok-circle"></span> Set</button>

                      <label style="width:25px;"></label>
                        <!--button class="btn btn-success btn-xs" data-ng-click="projectsCtrl.launchSelectedProject()"
                                data-ng-disabled="projectsCtrl.selectedProject.status != 'defined'"><span class="glyphicon glyphicon-play"></span> Launch</button>
                        <label style="width:25px;"></label-->
                        <div class="btn-group" data-uib-dropdown>
                          <button id="single-button" type="button" class="btn btn-info btn-xs" data-uib-dropdown-toggle
                              data-ng-disabled="projectsCtrl.selectedProject.status == 'ended'">
                            {{projectsCtrl.selectedBpmnName}} <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li data-ng-repeat="bpmnName in projectsCtrl.bpmnNames" role="menuitem">
                              <a href="javascript:void(0)" data-ng-click="projectsCtrl.bpmnNameSet(bpmnName)">{{bpmnName}}</a>
                            </li>
                          </ul>
                        </div>
                        <input data-ng-model="projectsCtrl.newProcessName" placeholder="process-name" />
                        <button class="btn btn-success btn-xs" data-ng-click="projectsCtrl.addProcess()"
                            data-ng-disabled="projectsCtrl.addProcessDisabled()"><span class="glyphicon glyphicon-plus-sign"></span> Add Process</button>
                        <label style="width:25px;"></label>
                        <!--label><input type="checkbox" data-ng-model="projectsCtrl.selectedProject.public" data-ng-change="projectsCtrl.projectPublicChanged()">Public</label-->
                        <label style="width:25px;"></label>
                        <!--button class="btn btn-danger btn-xs" data-ng-click="projectsCtrl.endSelectedProject()"
                                data-ng-disabled="!projectsCtrl.selectedProject.can_end || projectsCtrl.selectedProject.status == 'ended'"><span class="glyphicon glyphicon-pause"></span> End</button-->
                        <button class="btn btn-danger btn-xs" data-ng-click="projectsCtrl.deleteSelectedPhase()"
                                data-ng-disabled="!projectsCtrl.selectedPhase.can_delete"><span class="glyphicon glyphicon-remove-circle"></span> Delete</button>
                    </td>
                </tr>
                <tr data-ng-if="!projectsCtrl.isProjectAdmin() && !projectsCtrl.isBuildWhizAdmin">
                    <td align="center"><span style="color:red;">No access to this part</span></td>
                </tr>
            </table>
          <!-- Process Selected -->
          <table data-ng-if="projectsCtrl.selectedProcess != null"
              class="table table-condensed table-bordered table-hover">
            <tr><th class="bg-primary text-center">Process '{{projectsCtrl.selectedProcess.name}}' ({{projectsCtrl.selectedProcess.status}})</th></tr>
            <!-- Project Manager's Part -->
            <tr data-ng-if="projectsCtrl.isProjectAdmin()">
              <td>
                Admin: <div class="btn-group" data-uib-dropdown>
                  <button id="process-manager-dropdown" type="button" class="btn btn-info btn-xs" data-uib-dropdown-toggle
                      data-ng-disabled="projectsCtrl.selectedProcess.status != 'defined'">
                    {{projectsCtrl.selectedProcessManager.name}} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="process-manager-dropdown">
                    <li data-ng-repeat="processManager in projectsCtrl.phaseManagers" role="menuitem">
                      <a href="javascript:void(0)" data-ng-click="projectsCtrl.processManagerSelect(processManager)">{{processManager.name}}</a>
                    </li>
                  </ul>
                </div>
                <button class="btn btn-success btn-xs" data-ng-click="projectsCtrl.phaseManagerSet()"
                    data-ng-disabled="projectsCtrl.selectedProcess.status != 'defined'"><span class="glyphicon glyphicon-ok-circle"></span> Set</button>
                <label style="width:25px;"></label>
                <button class="btn btn-success btn-xs" data-ng-click="projectsCtrl.selectedProcessLaunch()"
                        data-ng-disabled="!projectsCtrl.selectedProcessCanLaunch()"><span class="glyphicon glyphicon-play"></span> Launch</button>
                <label style="width:25px;"></label>
                <button class="btn btn-danger btn-xs" data-ng-click="projectsCtrl.selectedProcessDelete()"
                        data-ng-disabled="!projectsCtrl.selectedProcessDeletable()">
                  <span class="glyphicon glyphicon-remove-circle"></span> Delete</button>
                <!--button class="btn btn-danger btn-xs" data-ng-click="projectsCtrl.selectedPhaseEnd()"
                        data-ng-disabled="projectsCtrl.selectedPhase.healthy">
                  <span class="glyphicon glyphicon-remove-circle"></span> End</button-->
              </td>
            </tr>
            <!-- Phase Manager's Part -->
            <!--tr data-ng-if="projectsCtrl.isPhaseAdmin()">
              <td>
              </td>
            </tr-->
            <!-- BPMN Part -->
            <tr><td><table border="1" width="100%">
              <tr style="text-align:center; font-weight:bold;"><td width="40%">BPMN Name</td><td width="10%">Status</td><td width="15%">Start</td>
                <td width="15%">End</td><td width="20%">Configuration Excel</td></tr>
              <tr style="text-align:center;">
                <td><a href="#/bpmn{{projectsCtrl.bpmnPanelUrl}}&bpmn_name={{projectsCtrl.selectedProcess.bpmn_name}}">{{projectsCtrl.selectedProcess.bpmn_name}}</a></td>
                <td>{{projectsCtrl.selectedProcess.status}}</td>
                <td>{{projectsCtrl.selectedProcess.start}}</td>
                <td>{{projectsCtrl.selectedProcess.end}}</td>
                <td><a href="baf2/ProcessConfigDownload?process_id={{projectsCtrl.selectedProcess._id}}&bpmn_name={{projectsCtrl.selectedProcess.bpmn_name}}"
                       download="{{projectsCtrl.selectedProcess.bpmn_name}}.xlsx">download</a>&nbsp;&nbsp;&nbsp;
                       <button style="margin-left:25px;" class="btn btn-xs btn-primary" data-ng-click="projectsCtrl.startUpload(projectsCtrl.selectedPhase.bpmn_name)">Upload</button></td>
                <input id="configuration-upload-button" type="file" style="display:none;" />
              </tr>
              <tr data-ng-repeat="b in projectsCtrl.selectedProcess.sub_bpmns" style="text-align:center;">
                <td><a href="#/bpmn?{{projectsCtrl.bpmnPanelUrl}}&bpmn_name={{b.name}}">{{b.name}}</a></td>
                <td>{{b.status}}</td>
                <td>{{b.offset.start}}</td>
                <td>{{b.offset.end}}</td>
                <td><a href="baf2/ProcessConfigDownload?process_id={{projectsCtrl.selectedProcess._id}}&bpmn_name={{b.name}}"
                       download="{{projectsCtrl.selectedProcess.name}}#{{b.name}}.xlsx">download</a>&nbsp;&nbsp;&nbsp;
                       <button style="margin-left:25px;" class="btn btn-xs btn-primary" data-ng-click="projectsCtrl.startUpload(b.name)">Upload</button></td>
              </tr>
            </table></td></tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

