<div class="panel panel-primary">
  <div class="panel-heading">
    <span style="font-weight:bold;">Status Update</span>
    <button class="btn btn-xs btn-warning pull-right" data-ng-click="statusCtrl.toggleInfoDisplay()">
      <span class="glyphicon glyphicon-info-sign"></span> Help</button>
  </div>

  <div class="panel-body fixed-panel" style="padding:5px">
    <!-- Busy overlay -->
    <div data-ng-if="statusCtrl.busy" style="position: fixed; top: 0px; left: 0; z-index: 9999; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8);">
      <img src="images/animatedEllipse.gif" style="position: absolute; z-index: 10000; display: block; margin: auto auto; left: 0px; right: 0px; top: 0px; bottom: 0px;" />
    </div>
    <!-- Info overlay -->
    <div data-ng-if="statusCtrl.showInfo" style="padding:5px 5px; margin-top:3px; border:2px solid DarkGreen; width:100% vertical-align:top;">
      <table style="width:100%;">
        <tr><th style="background-color:DarkGreen; text-align:center; color:white;">Information</th></tr>
        <tr><td><div data-ng-include="'info/status-update.html'" style="height:300px; max-height:300px; min-height:300px; overflow:auto;"></div></td></tr>
      </table>
    </div>
    <!-- View My Status Updates -->
    <div data-ng-if="!statusCtrl.showInfo" class="row center-block" style="padding:5px 5px; margin-top:3px; border:2px solid #337ab7; width:100% vertical-align:top;">
      <table width="100%">
        <tr><th style="background-color:#337ab7; text-align:center; color:white;">My Status Updates ({{statusCtrl.updates.length}})</th></tr>
      </table>
      <div style="height:200px; max-height:200px; min-height:200px; overflow:auto;">
        <table border="1" width="100%">
          <tr><th style="text-align:center;">Date & Time</th><th style="text-align:center;">Title</th><th style="text-align:center;">Message</th>
            <th style="text-align:center;">Type</th><th style="text-align:center;">Attachments</th><th data-ng-if="statusCtrl.isAdmin()" style="text-align:center;">Author</th>
          </tr>
          <tr data-ng-repeat="update in statusCtrl.updates" style="background-color:{{statusCtrl.getRowColor(document)}};">
            <td style="text-align:center;">{{update.date_time}}</td><td style="text-align:center;">{{update.title}}</td>
            <td style="text-align:center;">{{update.message}}</td><td style="text-align:center;">{{update.type}}</td>
            <td style="text-align:center;">
              <span data-ng-repeat="link in update.links"><a href="{{link.url}}" target="_blank">{{link.file_name}}</a></span>
            </td>
            <td data-ng-if="statusCtrl.isAdmin()">{{update.full_name}}</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- New Status Update -->
    <table data-ng-if="!statusCtrl.showInfo && !statusCtrl.isAdmin()" style="border:2px solid #337ab7; width:100%; vertical-align:top; margin-top:3px;">
      <tr>
        <td><div style="background-color:#337ab7; color:white; margin:2px; text-align:center;">Attachments</div></td>
        <td><div style="background-color:#337ab7; color:white; margin:2px; text-align:center;">Comments</div></td>
      </tr>
      <tr>
        <td style="width:30%;">
          <div style="height:100px; max-height:100px; min-height:100px; overflow:auto; vertical-align:top;">
            <div data-ng-repeat="attachment in statusCtrl.submissionAttachments">
              {{attachment.name}}
            </div>
          </div>
        </td>
        <td style="width:70%;">
          <textarea class="center-block" style="width:98%; height:100px; margin-top:3px;" data-ng-model="statusCtrl.submissionMessage"></textarea>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="width:100%;">
          <hr style="background-color:#337ab7; height:2px; margin:0px;"/>
          <label class="pull-left" style="margin-top:5px;">Add</label>
          <button class="button btn-info btn-xs pull-left" style="margin:3px;"
                  data-ng-click="statusCtrl.captureFile()">File</button>
          <button class="button btn-info btn-xs pull-left" style="margin:3px;"
                  data-ng-click="statusCtrl.takePhoto()">Photo</button>
          <input id="camera-button" type="file" accept="image/*;capture=camera" style="display:none;" />
          <input id="file-button" type="file" style="display:none;" />
          <div class="btn-group pull-right" data-uib-dropdown data-dropdown-append-to="appendToEl"
               style="margin-top:3px;">
            <button id="submission-type" type="button" class="btn btn-info btn-xs" data-uib-dropdown-toggle>
              {{statusCtrl.submissionType}}<span class="caret"></span>
            </button>&nbsp;
            <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="submission-type"
                style="min-width:30px">
              <li class="dropdown-item"><a href="javascript:void(0)" style="padding:3px;"
                  data-ng-click="statusCtrl.submissionType = 'Submittals'">Submittals</a></li>
              <li class="dropdown-item"><a href="javascript:void(0)" style="padding:3px;"
                  data-ng-click="statusCtrl.submissionType = 'Progress'">Progress</a></li>
            </ul>
          </div>
          <label class="pull-right" style="margin-top:5px;">Type&nbsp;</label>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="width:100%;">
          <hr style="background-color:#337ab7; height:2px; margin:0px;"/>
          &nbsp;<input type="text" style="margin-top:2px;" placeholder="Title" data-ng-model="statusCtrl.submissionTitle"/>
          <button class="button btn-warning btn-xs pull-right" style="margin:3px;"
                  data-ng-click="statusCtrl.submitProgressReport()">Send</button>
        </td>
      </tr>
    </table>

  </div>
</div>
