<div class="container" data-ng-controller="UserRolesCtrl as userCtrl">
    <div data-ng-if="userCtrl.isWaiting" style="position: fixed; top: 0px; left: 0; z-index: 9999; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8);">
        <img src="css/images/animatedEllipse.gif" style="position: absolute; z-index: 10000; display: block; margin: auto auto; left: 0px; right: 0px; top: 0px; bottom: 0px;" />
    </div>

    <p style="text-align:center; font-size: large;">User Roles Management</p>

    <table class="table table-condensed table-bordered">
        <tr class="bg-primary text-center">
            <td>Name</td><td>Admin</td><td>Demo</td><td>Skills</td><td>Save</td>
        </tr>
        <tr data-ng-repeat="person in userCtrl.persons" class="text-center">
            <td>{{person.first_name}} {{person.last_name}}</td>
            <td><input type="checkbox" data-ng-model="person.newRoleAdmin" /></td>
            <td><input type="checkbox" data-ng-model="person.newRoleDemo"/></td>
            <td>-</td>
            <td><button data-ng-click="userCtrl.savePerson(person)" data-ng-disabled="!userCtrl.dataModified(person)"
                        class="btn btn-primary btn-xs">Save</button></td>
        </tr>
    </table>

</div>
<!--//===============================container============================-->