<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="panel panel-primary">
  <div class="panel-heading">
    <span style="font-weight:bold;">BPMN ({{bpmnCtrl.projectName}} / {{bpmnCtrl.processName}})</span>
    <button class="pull-right btn btn-xs btn-info" style="margin-left:10px" data-ng-click="bpmnCtrl.refresh()">
      <span class="glyphicon glyphicon-refresh"></span> Refresh</button>
    <a class="pull-right" href="#/projects?project_id={{bpmnCtrl.projectId}}&phase_id={{bpmnCtrl.phaseId}}"
       style="font-weight:bold; color:white;">Back</a>
    <span class="pull-right"><span style="color:white;" class="glyphicon glyphicon-arrow-left"></span>&nbsp;</span>
  </div>

  <div class="panel-body fixed-panel container-fluid" style="padding:5px">
  <div class="row">
	<div class="col-sm-8">
		<div id="canvas" style="height:500px; max-height:500px; min-height:500px; overflow:auto;">
        </div>
	</div>
    <div class="col-sm-4" style="background-color:yellowgreen; height:500px; max-height:500px; min-height:500px;">
		<h3>{{bpmnCtrl.heading}}</h3>
        <!--div data-ng-if="bpmnCtrl.visibleElmt == 'activity'">
            Activity Info
        </div>
		<div data-ng-if="bpmnCtrl.visibleElmt == 'timer'">
            Timer Info
			<input  value="{{bpmnCtrl.getduration}}" data-ng-model="bpmnCtrl.getduration" data-type-clicked="" style="border: none;padding: 5px;border-radius: 2px;margin: 5px auto;" type="text">
			<button class="btn btn-primary" data-ng-click="bpmnCtrl.setDuration_dt(bpmnCtrl.eltype, bpmnCtrl.getduration)" >Update</button>
		</div-->
	</div>
  </div>
  </div>
</div>