<div class="panel panel-primary">
  <div class="panel-heading">
    Documents
    <div class="pull-right">
      Select:&nbsp;
      <div class="btn-group" data-uib-dropdown data-dropdown-append-to="appendToEl">
        <button id="btn-append-to" type="button" class="btn btn-info btn-xs" data-uib-dropdown-toggle>
          {{documentsCtrl.currentFilterKey}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="btn-append-to"
            style="min-width:50px">
          <li class="dropdown-item"><a href="javascript:void(0)"
              data-ng-click="documentsCtrl.fetchDocuments('New')" style="padding:3px;">New</a></li>
          <li class="dropdown-item"><a href="javascript:void(0)"
              data-ng-click="documentsCtrl.fetchDocuments('Week')" style="padding:3px;">Week</a></li>
          <li class="dropdown-item"><a href="javascript:void(0)"
              data-ng-click="documentsCtrl.fetchDocuments('Month')" style="padding:3px;">Month</a></li>
          <li class="divider" style="margin:1px;"></li>
          <li class="dropdown-item"><a href="javascript:void(0)"
              data-ng-click="documentsCtrl.fetchDocuments('All')" style="padding:3px;">All</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel-body fixed-panel" style="padding:5px">
    {{documentsCtrl.documentList.length}} documents available
  </div>
</div>

