<div class="panel panel-primary">
  <div class="panel-heading">
    Manage Documents
  </div>

  <div class="panel-body fixed-panel container-fluid" style="padding:5px">
    <div class="row center-block" style="padding:5px 5px; border:2px solid #337ab7; width:100%">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" style="padding:3px; border:1px solid #337ab7;">
        &nbsp;&nbsp;Category&nbsp;
        <div class="btn-group" data-uib-dropdown data-dropdown-append-to="appendToEl">
          <button id="btn-type" type="button" class="btn btn-info btn-xs" data-uib-dropdown-toggle>
            {{manageDocsCtrl.currentCategoryKey}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="btn-type"
              style="min-width:50px">
            <li class="dropdown-item" data-ng-repeat="category in manageDocsCtrl.documentCategories">
              <a href="javascript:void(0)" style="padding:3px;"
                 data-ng-click="manageDocsCtrl.fetchDocumentsByCategory(category)">{{category}}</a>
            </li>
            <li class="divider" style="margin:1px;"></li>
            <li class="dropdown-item"><a href="javascript:void(0)"
                data-ng-click="manageDocsCtrl.fetchDocumentsByCategory('Any')" style="padding:3px;">Any</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" style="padding:3px; border:1px solid #337ab7;">
        &nbsp;&nbsp;Subcategory&nbsp;
        <div class="btn-group" data-uib-dropdown data-dropdown-append-to="appendToEl">
          <button id="btn-keyword" type="button" class="btn btn-info btn-xs" data-uib-dropdown-toggle>
            {{manageDocsCtrl.currentSubcategoryKey}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="btn-keyword"
              style="min-width:50px">
            <li class="dropdown-item" data-ng-repeat="subcategory in manageDocsCtrl.documentSubcategories">
              <a href="javascript:void(0)" style="padding:3px;"
                 data-ng-click="manageDocsCtrl.fetchDocumentsBySubcategory(subcategory)">{{category}}</a>
            </li>
            <li class="divider" style="margin:1px;"></li>
            <li class="dropdown-item"><a href="javascript:void(0)"
                                         data-ng-click="manageDocsCtrl.fetchDocumentsBySkill('Any')" style="padding:3px;">Any</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" style="padding:3px; border:1px solid #337ab7;">
        &nbsp;&nbsp;Content&nbsp;
        <div class="btn-group" data-uib-dropdown data-dropdown-append-to="appendToEl">
          <button id="btn-content" type="button" class="btn btn-info btn-xs" data-uib-dropdown-toggle>
            {{manageDocsCtrl.currentContentKey}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="btn-content"
              style="min-width:50px">
            <li class="dropdown-item"><a href="javascript:void(0)"
                data-ng-click="manageDocsCtrl.fetchDocumentsByContent('MS-Excel')" style="padding:3px;">MS-Excel</a></li>
            <li class="dropdown-item"><a href="javascript:void(0)"
                data-ng-click="manageDocsCtrl.fetchDocumentsByContent('MS-PPT')" style="padding:3px;">MS-PPT</a></li>
            <li class="dropdown-item"><a href="javascript:void(0)"
                data-ng-click="manageDocsCtrl.fetchDocumentsByContent('MS-Word')" style="padding:3px;">MS-Word</a></li>
            <li class="dropdown-item"><a href="javascript:void(0)"
                data-ng-click="manageDocsCtrl.fetchDocumentsByContent('PDF')" style="padding:3px;">PDF</a></li>
            <li class="dropdown-item"><a href="javascript:void(0)"
                data-ng-click="manageDocsCtrl.fetchDocumentsByContent('Text')" style="padding:3px;">Text</a></li>
            <li class="dropdown-item"><a href="javascript:void(0)"
                data-ng-click="manageDocsCtrl.fetchDocumentsByContent('XML')" style="padding:3px;">XML</a></li>
            <li class="divider" style="margin:1px;"></li>
            <li class="dropdown-item"><a href="javascript:void(0)"
                data-ng-click="manageDocsCtrl.fetchDocumentsByContent('Any')" style="padding:3px;">Any</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" style="padding:3px; border:1px solid #337ab7;">
        &nbsp;&nbsp;Name&nbsp;
        <input type="text" data-ng-model="manageDocsCtrl.documentName" size="15" style="height:20px; margin:1px;" />
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" style="padding:3px; border:1px solid #337ab7;">
        &nbsp;&nbsp;Descr&nbsp;
        <input type="text" data-ng-model="manageDocsCtrl.documentDescription" size="15" style="height:20px; margin:1px;" />
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" style="padding:3px; border:1px solid #337ab7;">
        <button class="btn btn-xs btn-info" data-ng-click="manageDocsCtrl.listFiles()">List</button>
        <button class="btn btn-xs btn-primary" data-ng-click="manageDocsCtrl.createRecord()"
            data-ng-disabled="manageDocsCtrl.createRecordDisabled()">Record</button>
      </div>
    </div>
    <div class="row center-block" style="padding:5px 5px; margin-top:3px; border:2px solid #337ab7; width:100% height:200px; max-height:200px; min-height:200px; overflow:auto; vertical-align:top;">
      <!--div data-ng-disabled="record in manageDocsCtrl.records">
        {{manageDocsCtrl.formattedRecord(record)}}
      </div-->
    </div>
    <div class="row center-block" style="padding:5px 5px; margin-top:3px; border:2px solid #337ab7; width:100%">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" style="padding:3px; border:1px solid #337ab7;">
        &nbsp;&nbsp;Comment&nbsp;
        <input type="text" data-ng-model="manageDocsCtrl.versionComments" size="10" style="margin:4px;"/>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" style="padding:3px; border:1px solid #337ab7; vertical-align:middle;">
        <span class="input-group" style="max-width:150px; vertical-align:middle;">
          <input type="text" class="form-control" data-uib-datepicker-popup data-ng-model="manageDocsCtrl.selectedDate"
             data-is-open="manageDocsCtrl.datePickerOpened" data-datepicker-options="manageDocsCtrl.dateOptions"
              data-ng-required="true" style="max-width:150px;" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" data-ng-click="manageDocsCtrl.datePickerOpened = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </span>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" style="padding:3px; border:1px solid #337ab7;">
        <span data-uib-timepicker data-ng-model="manageDocsCtrl.selectedDate" data-show-spinners="false"></span>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" style="padding:3px; border:1px solid #337ab7; height:42px;">
        &nbsp;&nbsp;Author filter&nbsp;
        <input type="text" data-ng-model="manageDocsCtrl.authorsMask" size="5" style="height:20px" />
        <button class="btn btn-xs btn-info" data-ng-click="manageDocsCtrl.filterAuthorNames()">Filter</button>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" style="padding:3px; border:1px solid #337ab7; height:42px;">
        &nbsp;&nbsp;Author&nbsp;
        <div class="btn-group" data-uib-dropdown data-dropdown-append-to="appendToEl">
          <button id="btn-author2" type="button" class="btn btn-info btn-xs" data-uib-dropdown-toggle>
            {{manageDocsCtrl.currentAuthor.name}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="btn-author2"
              style="min-width:50px">
            <li class="dropdown-item" data-ng-repeat="author in manageDocsCtrl.filteredAuthors">
              <a href="javascript:void(0)" style="padding:3px;"
                 data-ng-click="manageDocsCtrl.fetchDocumentsByAuthor(author)">{{author.name}}</a>
            </li>
            <li class="divider" style="margin:1px;"></li>
            <li class="dropdown-item"><a href="javascript:void(0)"
                data-ng-click="manageDocsCtrl.fetchDocumentsByAuthor({_id: '', name: 'Any'})" style="padding:3px;">Any</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" style="padding:3px; border:1px solid #337ab7; height:42px;">
        <button class="btn btn-xs btn-info" data-ng-click="manageDocsCtrl.setMidnight()">Midnight</button>
        <button class="btn btn-xs btn-primary" data-ng-click="manageDocsCtrl.upload()">Upload</button>
        <input id="document-upload-button" type="file" style="display:none;" multiple />
      </div>
    </div>
  </div>
</div>

