<div class="panel panel-primary">
  <div class="panel-heading">
    <span style="font-weight:bold;">Projects</span>
    <span data-ng-if="projectsCtrl.selectedProject != null">
      <span style="font-weight:bold;">{{projectsCtrl.selectedProject.name}}</span>
      [<a href="javascript:void(0);" data-ng-click="projectsCtrl.select()" style="color:white;">Back</a>]
    </span>
  </div>

  <div class="panel-body fixed-panel" style="padding:5px">
    <div class="container-fluid">
      <div class="row">
        <!-- Left Margin -->
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <!-- Projects -->
          <table class="table table-condensed table-bordered table-hover">
            <tr><th class="bg-primary text-center">Projects</th></tr>
            <tr data-ng-repeat="project in projectsCtrl.projects" style="background-color:{{projectsCtrl.projectRowColor(project)}};">
              <td class="cursor: pointer;">
                <a href="javascript:void(0);" data-ng-click="projectsCtrl.selectProject(project)">{{project.name}}</a>
              </td>
            </tr>
          </table>
          <!-- Phases -->
          <table class="table table-condensed table-bordered table-hover">
            <tr><th class="bg-primary text-center">Phases</th></tr>
            <tr data-ng-repeat="phase in projectsCtrl.phases" style="background-color:{{projectsCtrl.phaseRowColor(phase)}}">
              <td class="cursor: pointer;">
                <a href="javascript:void(0);" data-ng-click="projectsCtrl.selectPhase(phase)">{{phase.name}}</a>
              </td>
            </tr>
          </table>
        </div>
        <!-- Detail -->
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <!-- Project Selected -->
          <table class="table table-condensed table-bordered table-hover" data-ng-if="projectsCtrl.canDisplayProject()">
            <tr><th class="bg-primary text-center">Project {{projectsCtrl.selectedProject.name}}</th></tr>
            <tr>
              <td>
                <button class="btn btn-success btn-sm" data-ng-click="projectsCtrl.launchProject(projectsCtrl.selectedProject._id)"
                    data-ng-disabled="projectsCtrl.selectedProject.status != 'defined'"><span class="glyphicon glyphicon-play"></span> Launch</button>
                <button class="btn btn-danger btn-sm" data-ng-click="projectsCtrl.endProject(projectsCtrl.selectedProject._id)"
                    data-ng-disabled="!projectsCtrl.selectedProject.can_end || projectsCtrl.selectedProject.status == 'ended'"><span class="glyphicon glyphicon-pause"></span> End</button>
                <button class="btn btn-danger btn-sm" data-ng-click="projectsCtrl.deleteProject(projectsCtrl.selectedProject._id)"
                    data-ng-disabled="projectsCtrl.selectedProject.status != 'ended'"><span class="glyphicon glyphicon-remove-circle"></span> Delete</button>
                <label style="width:100px;"></label>
                <div class="btn-group" data-uib-dropdown>
                  <button id="single-button" type="button" class="btn btn-info btn-sm" data-uib-dropdown-toggle>
                    {{projectsCtrl.selectedPhaseName}} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href="javascript:void(0)">Select Phase</a></li>
                    <li data-ng-repeat="newPhaseName in projectsCtrl.newPhaseNames" role="menuitem">
                      <a href="javascript:void(0)" data-ng-click="projectsCtrl.newPhaseNameSet(newPhaseName)">{{newPhaseName}}</a>
                    </li>
                  </ul>
                </div>
                <button class="btn btn-success btn-sm" data-ng-click="projectsCtrl.addPhase()"
                    data-ng-disabled="projectsCtrl.selectedProject.status != 'defined'"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
              </td>
            </tr>
          </table>
          <!-- Phase Selected -->
          <table class="table table-condensed table-bordered table-hover" data-ng-if="projectsCtrl.canDisplayPhase()">
            <tr><th class="bg-primary text-center">Phase {{projectsCtrl.selectedPhase.name}} of
              Project {{projectsCtrl.selectedProject.name}}</th></tr>
            <tr>
              <td>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

