<div class="panel panel-primary">
  <div class="panel-heading">
    <span style="font-weight:bold;">Projects</span>
  </div>

  <div class="panel-body fixed-panel" style="padding:5px">
    <div class="container-fluid">
      <div class="row">
        <!-- Left Margin -->
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
          <!-- Projects -->
          <table class="table table-condensed table-bordered table-hover">
            <tr><th class="bg-primary text-center">Projects ({{projectsCtrl.projects.length}})</th></tr>
            <tr data-ng-repeat="project in projectsCtrl.projects" style="background-color:{{projectsCtrl.projectRowColor(project)}};">
              <td class="cursor: pointer;">
                <a href="javascript:void(0);" data-ng-click="projectsCtrl.selectProject(project)">{{project.name}} ({{project.status}})</a>
              </td>
            </tr>
            <tr data-ng-if="projectsCtrl.canCreateProject()">
              <td>
                <input type="text" data-ng-model="projectsCtrl.newProjectName" placeholder="New project name"/>
                <button data-ng-disabled="projectsCtrl.newProjectName == ''" class="btn btn-xs btn-success" data-ng-click="projectsCtrl.createNewProject()">Create</button>
              </td>
            </tr>
          </table>
          <!-- Phases -->
          <table class="table table-condensed table-bordered table-hover">
            <tr><th class="bg-primary text-center">Phases ({{projectsCtrl.phases.length}})</th></tr>
            <tr data-ng-repeat="phase in projectsCtrl.phases" style="background-color:{{projectsCtrl.phaseRowColor(phase)}}">
              <td class="cursor: pointer;">
                <a href="javascript:void(0);" data-ng-click="projectsCtrl.selectPhase(phase)">{{phase.name}} ({{phase.status}})</a>
              </td>
            </tr>
          </table>
        </div>
        <!-- Detail -->
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
          <!-- Project Selected -->
          <table data-ng-if="projectsCtrl.selectedProject != null" class="table table-condensed table-bordered table-hover">
            <tr><th class="bg-primary text-center">Project '{{projectsCtrl.selectedProject.name}}' ({{projectsCtrl.selectedProject.status}})</th></tr>
            <tr data-ng-if="projectsCtrl.isProjectManager()">
              <td>
                <button class="btn btn-success btn-xs" data-ng-click="projectsCtrl.launchSelectedProject()"
                    data-ng-disabled="projectsCtrl.selectedProject.status != 'defined'"><span class="glyphicon glyphicon-play"></span> Launch</button>
                <label style="width:25px;"></label>
                <div class="btn-group" data-uib-dropdown>
                  <button id="single-button" type="button" class="btn btn-info btn-xs" data-uib-dropdown-toggle
                      data-ng-disabled="projectsCtrl.selectedProject.status == 'ended'">
                    {{projectsCtrl.selectedPhaseName}} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li data-ng-repeat="newPhaseName in projectsCtrl.newPhaseNames" role="menuitem">
                      <a href="javascript:void(0)" data-ng-click="projectsCtrl.newPhaseNameSet(newPhaseName)">{{newPhaseName}}</a>
                    </li>
                  </ul>
                </div>
                <button class="btn btn-success btn-xs" data-ng-click="projectsCtrl.addPhase()"
                    data-ng-disabled="projectsCtrl.selectedProject.status == 'ended'"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
                <label style="width:25px;"></label>
                <label><input type="checkbox" data-ng-model="projectsCtrl.selectedProject.public" data-ng-change="projectsCtrl.projectPublicChanged()">Public</label>
                <label style="width:25px;"></label>
                <button class="btn btn-danger btn-xs" data-ng-click="projectsCtrl.endSelectedProject()"
                        data-ng-disabled="!projectsCtrl.selectedProject.can_end || projectsCtrl.selectedProject.status == 'ended'"><span class="glyphicon glyphicon-pause"></span> End</button>
                <button class="btn btn-danger btn-xs" data-ng-click="projectsCtrl.deleteSelectedProject()"
                        data-ng-disabled="projectsCtrl.selectedProject.status != 'ended'"><span class="glyphicon glyphicon-remove-circle"></span> Delete</button>
              </td>
            </tr>
            <tr data-ng-if="!projectsCtrl.isProjectManager()">
              <td align="center"><span style="color:red;">No access to this part</span></td>
            </tr>
          </table>
          <!-- Phase Selected -->
          <table data-ng-if="projectsCtrl.selectedPhase != null" class="table table-condensed table-bordered table-hover">
            <tr><th class="bg-primary text-center">Phase '{{projectsCtrl.selectedPhase.name}}' ({{projectsCtrl.selectedPhase.status}})</th></tr>
            <tr data-ng-if="projectsCtrl.isProjectManager()">
              <td>Project-Manager's Part
              </td>
            </tr>
            <tr data-ng-if="projectsCtrl.isPhaseManager()">
              <td>Phase-Manager's Part
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

