<div class="panel panel-primary">
  <div class="panel-heading">
    <span style="font-weight:bold;">RFI</span>
    <button class="btn btn-xs btn-warning pull-right" style="margin-left:5px;" data-ng-click="rfiCtrl.toggleInfoDisplay()">Info</button>
    <button class="btn btn-xs btn-info pull-right" data-ng-click="rfiCtrl.refreshRfiList()">Refresh</button>
  </div>

  <div class="panel-body fixed-panel">
    <!-- Busy overlay -->
    <div data-ng-if="rfiCtrl.busy" style="position: fixed; top: 0px; left: 0; z-index: 9999; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8);">
      <img src="images/animatedEllipse.gif" style="position: absolute; z-index: 10000; display: block; margin: auto auto; left: 0px; right: 0px; top: 0px; bottom: 0px;" />
    </div>
    <!-- Info overlay -->
    <div data-ng-if="rfiCtrl.showInfo" style="padding:5px 5px; margin-top:3px; border:2px solid DarkGreen; width:100% vertical-align:top;">
      <table width="100%">
        <tr><th style="background-color:DarkGreen; text-align:center; color:white;">Information</th></tr>
        <tr><td data-ng-bind-html="rfiCtrl.infoText"></td></tr>
      </table>
    </div>
    <!-- RFI Messages Display -->
    <div class="row center-block" style="padding:5px 5px; margin-top:3px; border:2px solid #337ab7; width:100% vertical-align:top;">
      <table width="100%">
        <tr data-ng-if="rfiCtrl.selectedMessage != null"><th style="background-color:#337ab7; text-align:center; color:white;">{{rfiCtrl.selectedMessage.subject}}</th></tr>
        <tr data-ng-if="rfiCtrl.selectedMessage == null"><th style="background-color:#337ab7; text-align:center; color:white;">Found {{rfiCtrl.messages.length}} RFIs</th></tr>
      </table>
      <!-- All RFIs -->
      <div data-ng-if="rfiCtrl.selectedMessage == null" style="height:150px; max-height:150px; min-height:150px; overflow:auto;">
        <table border="1" width="100%">
          <tr><th style="text-align:center;">Last Update</th><th style="text-align:center;">Subject</th>
            <th style="text-align:center;">Document</th><!--th style="text-align:center;">Members</th-->
            <th style="text-align:center;">Count</th>
            <th style="text-align:center;">Last Message</th><th style="text-align:center;">Sender</th><th style="text-align:center;">Select</th></tr>
          <tr data-ng-repeat="message in rfiCtrl.messages" style="background-color:{{rfiCtrl.rfiColor(message)}};">
            <td style="text-align:center;">{{message.display_time}}</td><td style="text-align:center;">{{message.subject}}</td>
            <td style="text-align:center;"><a href="{{message.document_info.link}}" target="_blank">{{rfiCtrl.documentLabel(message)}}</a></td>
            <!--td style="text-align:center;">{{message.member_names.join(", ")}}</td-->
            <td style="text-align:center;">{{message.count}}</td>
            <td>{{message.last_message}}</td><td style="text-align:center;">{{message.sender}}</td>
            <td style="text-align:center;"><a href="javascript:void(0)" data-ng-click="rfiCtrl.selectMessage(message)">select</a></td>
          </tr>
        </table>
      </div>
      <!-- Selected RFI Details -->
      <div data-ng-if="rfiCtrl.selectedMessage != null" style="height:150px; max-height:150px; min-height:150px; overflow:auto;">
        <table border="1" width="100%">
          <tr>
            <th style="text-align:center;">Timestamp</th><th style="text-align:center;">Sender</th>
            <th style="text-align:center;">Message</th><th style="text-align:center;">Attachments</th>
          </tr>
          <tr data-ng-repeat="detail in rfiCtrl.messageDetails">
            <td style="text-align:center;">{{detail.timestamp}}</td><td style="text-align:center;">{{detail.sender}}</td><td>{{detail.text}}</td>
            <td><span data-ng-repeat="attachment in detail.attachments"><a href="{{attachment.link}}" target="_blank">
                {{attachment.file_name}}</a> </span>
            </td>
          </tr>
        </table>
      </div>
      <hr style="margin:2px;"/>
      <table width="100%">
        <tr><td width="100%" class="pull-right">
          <span data-ng-if="rfiCtrl.selectedMessage != null" class="pull-left">Document: {{rfiCtrl.documentLabel(rfiCtrl.selectedMessage)}}</span>
          <!--button data-ng-if="rfiCtrl.selectedMessage == null" class="btn btn-xs btn-warning pull-right" data-ng-click="rfiCtrl.refreshRfiList()">Refresh</button-->
          <!--label data-ng-if="rfiCtrl.selectedMessage != null" class="pull-left" style="margin:0px;">Members: </label-->
          <!--span data-ng-if="rfiCtrl.selectedMessage != null" class="pull-left">{{rfiCtrl.selectedMessage.member_names.join(", ")}}</span-->
          <button data-ng-if="rfiCtrl.selectedMessage != null && rfiCtrl.selectedMessage.isOwn"
              data-ng-disabled="rfiCtrl.selectedMessage.status == 'closed'"
              class="btn btn-xs btn-success pull-right" style="margin-left:5px;" data-ng-click="rfiCtrl.closeMessage()">Close</button>
          <button data-ng-if="rfiCtrl.selectedMessage != null" class="btn btn-xs btn-warning pull-right"
                  data-ng-click="rfiCtrl.selectMessage()">Back to RFI List</button>
        </td></tr>
      </table>
    </div>
    <!-- New RFI Message -->
    <div data-ng-if="rfiCtrl.selectedMessage != null && rfiCtrl.selectedMessage.status != 'closed'"
         class="row center-block" style="padding:5px 5px; margin-top:3px; border:2px solid #337ab7; width:100% vertical-align:top;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;">
        <table width="100%">
          <tr><th style="background-color:#337ab7; text-align:center; color:white;">Add Response</th></tr>
        </table>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding:3px; border:1px solid #337ab7;">
        <table width="100%">
          <tr><td>Subject</td><td width="90%"><input type="text" data-ng-model="rfiCtrl.subject"
              style="height:20px; margin:1px; width:99%;" disabled/></td><td>Attachments</td>
            <td rowspan="2" width="1%" style="padding-left:5px;"><button class="btn btn-xs btn-primary"
                data-ng-click="rfiCtrl.attachFile()">Attach</button>
              <input id="attach-file-button" type="file" style="display:none;" multiple /><br/><br/>
              <button class="btn btn-xs btn-primary" data-ng-disabled="rfiCtrl.sendDisabled()"
                      data-ng-click="rfiCtrl.submitRFI()">Send</button>
            </td>
          </tr>
          <tr>
            <td>Text</td><td width="90%"><textarea data-ng-model="rfiCtrl.text" style="height:60px; width:99%;"></textarea></td>
            <td><span data-ng-repeat="attachment in rfiCtrl.rfiAttachments">{{attachment.file_name}} </span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
