<div class="panel panel-primary">
  <div class="panel-heading">RFI</div>

  <div class="panel-body fixed-panel">
    <div class="row center-block" style="padding:5px 5px; margin-top:3px; border:2px solid #337ab7; width:100% vertical-align:top;">
      <table width="100%">
        <tr><th style="background-color:#337ab7; text-align:center; color:white;">Found {{rfiCtrl.messages.length}} RFI Messages</th></tr>
      </table>
      <div style="height:150px; max-height:150px; min-height:150px; overflow:auto;">
        <table border="1" width="100%">
          <tr><th style="text-align:center;">Timestamp</th><th style="text-align:center;">Sender</th><th style="text-align:center;">Subject</th>
            <th style="text-align:center;">Last Message</th><th style="text-align:center;">Select</th></tr>
          <tr data-ng-repeat="message in rfiCtrl.messages">
            <td style="text-align:center;">{{message.timestamp}}</td><td style="text-align:center;">{{message.sender}}</td>
            <td style="text-align:center;">{{message.subject}}</td><td style="text-align:center;">{{message.last_message}}</td>
            <td style="text-align:center;"><a href="{{message.link}}" target="_blank">select</a></td>
          </tr>
        </table>
      </div>
      <table width="100%">
        <tr><td width="100%" class="pull-right">
          <button class="btn btn-xs btn-primary" data-ng-click="rfiCtrl.refreshRfiList()">Refresh</button>
        </td></tr>
      </table>
    </div>
    <div class="row center-block" style="padding:5px 5px; margin-top:3px; border:2px solid #337ab7; width:100% vertical-align:top;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;">
        <table width="100%">
          <tr><th style="background-color:#337ab7; text-align:center; color:white;">New RFI</th></tr>
        </table>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding:3px; border:1px solid #337ab7;">
        <table width="100%">
          <tr><td>Subject</td><td width="95%"><input type="text" data-ng-model="rfiCtrl.subject"
              style="height:20px; margin:1px; width:90%;" /></td>
            <td rowspan="2" width="5%"><button class="btn btn-xs btn-primary" data-ng-click="rfiCtrl.newRfiMessage()">Send</button></td>
          </tr>
          <tr>
            <td>Text</td><td><textarea data-ng-model="rfiCtrl.text" style="height:20px; width:90%;"></textarea></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
