<div class="panel panel-primary">
  <div class="panel-heading">
    <span style="font-weight:bold;">Role Mapping</span>
  </div>

  <div class="panel-body fixed-panel" style="padding:5px">
    <div class="container-fluid">
      <div class="row">
        <!-- Roles -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <label>Roles</label>
          <div style="border:3px solid #337ab7; height:200px; max-height:200px; min-height:200px; overflow:auto; vertical-align:top;">
            <span data-ng-repeat="role in roleCtrl.roles" data-ng-click="roleCtrl.selectRole(role)"
                style="margin-left:5px; background-color:{{roleCtrl.roleColor(role)}};">
              <a href="javascript:void(0);">{{role.category}}/{{role.name}}</a><br/>
            </span>
          </div>
        </div>
        <!-- Permitted Categories -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <label>Permitted Categories</label>
          <div style="border:3px solid #337ab7; height:200px; max-height:200px; min-height:200px; overflow:auto; vertical-align:top;">
            <span data-ng-repeat="cat in roleCtrl.categories" style="margin-left:5px;">
              <input type="checkbox" data-ng-model="cat.permitted" data-ng-click="roleCtrl.togglePermission(cat)"/>
              {{cat.category}}<br/>
            </span>
          </div>
        </div>
        <!-- Subategories -->
        <!--div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <label>Subcategories</label>
          <div style="border:3px solid #337ab7; height:200px; max-height:200px; min-height:200px; overflow:auto; vertical-align:top;">
            <span data-ng-repeat="sub in roleCtrl.subcategories" data-ng-click="roleCtrl.selectSubcategory(sub)"
                  style="margin-left:5px; background-color:{{roleCtrl.subcategoryColor(sub)}};">
              <a href="javascript:void(0);">{{sub}}</a><br/>
            </span>
          </div>
        </div-->
      </div>
    </div>
  </div>
</div>