<div class="panel panel-primary">
  <div class="panel-heading">Tasks</div>
  <div data-ng-switch="tasksCtrl.taskSelected" class="panel-body fixed-panel scroll-panel">
    <div data-ng-switch-when="false" data-ng-repeat="task in tasksCtrl.taskList" style="padding: 5px; border: 2px solid skyblue; margin-bottom:5px;">
      <h4 style="font-weight:bold; margin-top:0px; margin-bottom:5px;">
        <a href="javascript:void(0);" data-ng-click="tasksCtrl.select(task)">{{task.name}}</a>
      </h4>
      <p>{{task.description}}</p>
    </div>

    <div data-ng-switch-when="true">
      <h4 style="font-weight:bold; margin-top:0px; margin-bottom:5px;">
        {{tasksCtrl.selectedTask.name}} [<a href="javascript:void(0);" data-ng-click="tasksCtrl.select()">Back</a>]
      </h4>

    </div>

    <div data-ng-if="tasksCtrl.taskList.length == 0" style="text-align:center; font-size: large; color: blue">
      There are no tasks at this time
    </div>
  </div>
</div>
