<div class="panel panel-primary">
  <div class="panel-heading">
    Tasks
    <span data-ng-if="tasksCtrl.taskSelected">
      <span style="font-weight:bold;">{{tasksCtrl.displayName(tasksCtrl.selectedTask)}}</span>
      [<a href="javascript:void(0);" data-ng-click="tasksCtrl.select()"
          style="color:white;"><span class="glyphicon glyphicon-backward"></span> Back</a>]
    </span>

    <div class="pull-right" data-ng-if="!tasksCtrl.taskSelected">
      Select:&nbsp;
      <div class="btn-group" data-uib-dropdown data-dropdown-append-to="appendToEl">
        <button id="btn-append-to" type="button" class="btn btn-info btn-xs" data-uib-dropdown-toggle>
          {{tasksCtrl.currentFilterKey}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="btn-append-to"
            style="min-width:50px">
          <li class="dropdown-item"><a href="javascript:void(0)"
              data-ng-click="tasksCtrl.fetchActions('Active')" style="padding:3px;">Active</a></li>
          <li class="dropdown-item"><a href="javascript:void(0)"
              data-ng-click="tasksCtrl.fetchActions('Week')" style="padding:3px;">Week</a></li>
          <li class="dropdown-item"><a href="javascript:void(0)"
              data-ng-click="tasksCtrl.fetchActions('Month')" style="padding:3px;">Month</a></li>
          <li class="divider" style="margin:1px;"></li>
          <li class="dropdown-item"><a href="javascript:void(0)"
              data-ng-click="tasksCtrl.fetchActions('All')" style="padding:3px;">All</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div data-ng-switch="tasksCtrl.taskSelected" class="panel-body fixed-panel" style="padding:5px">
    <div data-ng-switch-when="false" data-ng-repeat="task in tasksCtrl.taskList" style="padding: 5px; border: 2px solid #337ab7; margin-bottom:5px;">
      <h4 style="font-weight:bold; margin-top:0px; margin-bottom:5px;">
        <a href="javascript:void(0);" data-ng-click="tasksCtrl.select(task)">
            {{tasksCtrl.displayName(task)}} ({{task.status}})</a>
      </h4>
      <p style="margin-bottom:0px">{{task.activity_description}}</p>
    </div>

    <div data-ng-switch-when="true">
      <data-uib-accordion style="width:100%;">

        <div data-uib-accordion-group>
          <data-uib-accordion-heading>
            <button class="button btn-default btn-xs" style="width:100%;">Reference documents</button>
          </data-uib-accordion-heading>
          <div style="border:3px solid #337ab7; height:100px; max-height:100px; min-height:100px; overflow:auto; vertical-align:top;">
            <div data-ng-repeat="doc in tasksCtrl.selectedTask.in_documents">
              <a data-ng-if="doc.is_ready" href="baf/DocumentDownload/{{doc.name}}?project_id={{tasksCtrl.selectedTask.project_id}}&document_id={{doc._id}}" target="_blank">
                {{doc.name}}
              </a>
              <span data-ng-if="!doc.is_ready">{{doc.name}}</span>
            </div>
          </div>
        </div>

        <div data-uib-accordion-group>
          <data-uib-accordion-heading>
            <button class="button btn-default btn-xs" style="width:100%;">Mandatory submissions</button>
          </data-uib-accordion-heading>
          <table style="border:3px solid #337ab7; width:100%; vertical-align:top; margin-bottom:5px;">
            <tr><td style="width:100%;">
              <div style="height:100px; max-height:100px; min-height:100px; overflow:auto; vertical-align:top;">
                <div data-ng-repeat="doc in tasksCtrl.selectedTask.out_documents">
                  {{doc.name}}
                </div>
              </div>
            </td></tr>
            <tr data-ng-if="tasksCtrl.selectedTask.status == 'waiting'"><td style="width:100%;">
              <hr style="background-color:#337ab7; height:2px; margin-top:0px; margin-bottom:3px;"/>
              <button class="button btn-warning btn-xs center-block" style="margin-top:3px; margin-bottom:3px;">Upload file</button>
            </td></tr>
          </table>
        </div>

        <div data-uib-accordion-group>
          <data-uib-accordion-heading>
            <button class="button btn-default btn-xs" style="width:100%;">RFI</button>
          </data-uib-accordion-heading>
          <table style="border:3px solid #337ab7; width:100%; vertical-align:top; margin-bottom:5px;">
            <tr><td colspan="2" style="width:100%">
              <div style="width:100%; height:100px; max-height:100px; min-height:100px; overflow:auto; vertical-align:top;">
                bla bla 1<hr/>
                bla bla 2<hr/>
                bla bla 3<hr/>
                bla bla 4<hr/>
                bla bla 5
              </div>
            </td></tr>
            <tr data-ng-if="tasksCtrl.selectedTask.status == 'waiting'"><td colspan="2">
              <hr style="background-color:#337ab7; height:2px; margin:0px;"/>
            </td></tr>
            <tr style="width:100%;" data-ng-if="tasksCtrl.selectedTask.status == 'waiting'">
              <td style="width:80%;">
                <textarea style="width:100%; margin:3px;"></textarea>
              </td>
              <td style="width:20%;">
                <button class="button btn-warning btn-xs center-block">Send</button>
              </td>
            </tr>
          </table>
        </div>

        <div data-uib-accordion-group>
          <data-uib-accordion-heading>
            <button class="button btn-default btn-xs" style="width:100%;">Other Submissions</button>
          </data-uib-accordion-heading>
          <table style="border:3px solid #337ab7; width:100%; vertical-align:top; margin-bottom:5px;">
            <tr>
              <td><div class="label label-default center-block" style="margin:0px">Attachments</div></td>
              <td><div class="label label-default center-block" style="margin:0px">Comments</div></td>
            </tr>
            <tr>
              <td style="width:30%;">
                <div style="height:100px; max-height:100px; min-height:100px; overflow:auto; vertical-align:top;">
                  <div data-ng-repeat="attachment in tasksCtrl.progressReportAttachments">
                    {{attachment.name}}
                  </div>
                </div>
              </td>
              <td style="width:70%;">
                <textarea class="center-block" style="width:98%; height:100px; margin-top:3px;" data-ng-model="tasksCtrl.submissionMessage"></textarea>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="width:100%;">
                <hr style="background-color:#337ab7; height:2px; margin:0px;"/>
                <label class="pull-left" style="margin-top:5px;">&nbsp;Title&nbsp;</label>
                <input type="text" style="margin-top:2px;" data-ng-model="tasksCtrl.submissionTitle"/>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="width:100%;">
                <hr style="background-color:#337ab7; height:2px; margin:0px;"/>
                <label class="pull-left" style="margin-top:5px;">Attach</label>
                <button class="button btn-info btn-xs pull-left" style="margin:3px;"
                    data-ng-click="tasksCtrl.captureFile()">File</button>
                <button class="button btn-info btn-xs pull-left" style="margin:3px;"
                    data-ng-click="tasksCtrl.takePhoto()">Photo</button>
                <input id="camera-button" type="file" accept="image/*;capture=camera" style="display:none;" />
                <input id="file-button" type="file" style="display:none;" />
                <button class="button btn-warning btn-xs pull-right" style="margin:3px;"
                        data-ng-click="tasksCtrl.submitProgressReport()">Submit</button>
                <div class="btn-group pull-right" data-uib-dropdown data-dropdown-append-to="appendToEl"
                     style="margin-top:3px;">
                  <button id="submission-type" type="button" class="btn btn-info btn-xs" data-uib-dropdown-toggle>
                    {{tasksCtrl.submissionType}}<span class="caret"></span>
                  </button>&nbsp;
                  <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="submission-type"
                      style="min-width:30px">
                    <li class="dropdown-item"><a href="javascript:void(0)" style="padding:3px;"
                        data-ng-click="tasksCtrl.submissionType = 'Submittals'">Submittals</a></li>
                    <li class="dropdown-item"><a href="javascript:void(0)" style="padding:3px;"
                        data-ng-click="tasksCtrl.submissionType = 'RFI'">RFI</a></li>
                    <li class="dropdown-item"><a href="javascript:void(0)" style="padding:3px;"
                        data-ng-click="tasksCtrl.submissionType = 'Progress'">Progress</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div data-uib-accordion-group>
          <data-uib-accordion-heading>
            <button class="button btn-default btn-xs" style="width:100%;">Task-completion & remarks</button>
          </data-uib-accordion-heading>
          <table style="border:3px solid #337ab7; width:100%; vertical-align:top; margin-bottom:5px;">
            <tr><td style="width:100%; vertical-align:top;">
              <textarea class="center-block" data-ng-disabled="tasksCtrl.selectedTask.status != 'waiting'"
                  style="width:98%; height:100px; margin:3px;"
                  data-ng-model="tasksCtrl.selectedTask.completion_message"></textarea>
            </td></tr>
            <tr data-ng-if="tasksCtrl.selectedTask.status == 'waiting'"><td style="width:100%; horizontal-align:center;">
              <span data-ng-if="!tasksCtrl.confirmingCompletion" class="pull-left">
                &nbsp;&nbsp;&nbsp;<label style="color:#337ab7;"> Review OK?</label>
                <input type="checkbox" data-ng-disabled="{{tasksCtrl.selectedTask.type != 'review'}}"
                    data-ng-model="tasksCtrl.selectedTask.reviewOk">&nbsp;&nbsp;&nbsp;
              </span>
              <button class="button btn-warning btn-xs pull-right" data-ng-if="!tasksCtrl.confirmingCompletion"
                  data-ng-click="tasksCtrl.confirmingCompletion = true;"
                  style="margin-bottom:3px;">Complete Task</button>
              <button data-ng-if="tasksCtrl.confirmingCompletion" class="button btn-danger btn-xs pull-right"
                  style="margin-bottom:3px; margin-right:3px;" data-ng-click="tasksCtrl.actionComplete()">
                Confirm</button>
              <button data-ng-if="tasksCtrl.confirmingCompletion" class="button btn-success btn-xs pull-left"
                      style="margin-bottom:3px; margin-left:3px;" data-ng-click="tasksCtrl.confirmingCompletion = false;">
                Cancel</button>
            </td></tr>
          </table>
        </div>

      </data-uib-accordion>
    </div>

  </div>
</div>
