<div class="panel panel-primary">
  <div class="panel-heading">Profile</div>

  <div class="panel-body fixed-panel">
    <div class="container-fluid">
      <!-- Password, email, etc -->
      <div class="row">
        <!-- Change Password -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <label>Change Password</label>
          <div align="center" style="border:3px solid #337ab7; height:150px; max-height:150px; min-height:150px; overflow:auto; vertical-align:top;">
            <table align="center">
              <tr><td style="height:0.75em;"> </td></tr>
              <tr style="vertical-align:center;">
                <td>Old password</td><td><input type="password" data-ng-model="profileCtrl.oldPassword"/></td>
              </tr>
              <tr><td style="height:.5em;"> </td></tr>
              <tr style="vertical-align:center;">
                <td>New password</td><td><input type="password" data-ng-model="profileCtrl.newPassword"/></td>
              </tr>
              <tr><td style="height:.5em;"> </td></tr>
              <tr style="vertical-align:center;">
                <td>Confirm</td><td><input type="password" data-ng-model="profileCtrl.cnfPassword"/></td>
              </tr>
              <tr><td style="height:.5em;"> </td></tr>
              <tr style="vertical-align:center;">
                <td colspan="2" align="center"><button class="btn btn-xs btn-warning center-block"
                    data-ng-click="profileCtrl.userPasswordSet()"
                    data-ng-disabled="profileCtrl.userPasswordSetDisabled()">Set</button></td>
              </tr>
            </table>
          </div>
        </div>
        <!-- Email etc. -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <label>Other Settings</label>
          <div align="center" style="border:3px solid #337ab7; height:150px; max-height:150px; min-height:150px; overflow:auto; vertical-align:top;">
            <table align="center">
              <tr><td style="height:0.75em;"> </td></tr>
              <tr style="vertical-align:center;">
                <td>Enable email</td><td>&nbsp;&nbsp;<input type="checkbox" data-ng-model="profileCtrl.emailEnabled"
                    data-ng-click="profileCtrl.toggleEmail()"/></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <hr style="margin:10px;"/>
      <!-- Document Labels -->
      <div class="row">
        <!-- Labels -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <label>Document Labels</label>
          <div align="left" style="border:3px solid #337ab7; height:150px; max-height:150px; min-height:150px; overflow:auto; vertical-align:top; margin-bottom:5px;">
            <span data-ng-repeat="label in profileCtrl.labels" style="margin-left:5px; background-color:{{profileCtrl.labelRowColor(label)}}; cursor:pointer;"
                  data-ng-click="profileCtrl.selectLabel(label)">
              {{label}}<br/>
            </span>
          </div>
          <input type="text" size="10" data-ng-model="profileCtrl.newLabelName" />
          <button type="button" class="btn btn-xs btn-primary" data-ng-disabled="profileCtrl.newLabelName == ''"
                  data-ng-click="profileCtrl.addNewLabelName()">Add</button>
          <!--button type="button" class="btn btn-xs btn-primary"
                  data-ng-disabled="profileCtrl.selectedLabel == null || profileCtrl.newLabelName == ''"
                  data-ng-click="profileCtrl.appendLabelName()">Append</button-->
          <button type="button" class="btn btn-xs btn-primary" data-ng-disabled="profileCtrl.selectedLabel == null"
                  data-ng-click="profileCtrl.deleteLabelName()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

