/*.scroll-panel {
  min-height: 490px;
  max-height: 490px;
  height: 490px;
  //overflow-y: scroll;
}*/

.sign-in-message
{
    font-size: 14px;
    margin-top: 0px;
    text-align: center;
}

.sign-in-wrapper
{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sign-in-form
{
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 5px;
    //border: 2px rgba(0,0,0,0.1);
    border: 3px solid rgba(0,0,0,0.1);
}

.sign-in-username
{
    width: 175px;
    height: 20px;
    margin-bottom: 10px;
}

.sign-in-password
{
    width: 175px;
    height: 20px;
    margin-bottom: 10px;
}

.sign-in-button
{
    width: 175px;
    height: 20px;
    //margin-bottom: 5px;
}

.sign-in-colorgraph
{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 4px;
    border-top: 0;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -os-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #666;
    /*background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);*/
}

