/*======================================================Bootstrap======================================================*/
a:hover, a:focus
{
    color: inherit;
    text-decoration: none;
    outline: none;
}

a.list-group-item
{
    color: inherit;
}



/*======================================================Header======================================================*/
.header
{
    background: #f1f1f1;
    padding: 15px 0px;
    margin-bottom: 15px;
    border-bottom: 3px dotted rgba(0,0,0,0.1);
}

.logo
{
    height: 45px;
    line-height: 45px;
}

.headerRightPart
{
    padding-top: 5px;
}

.divWelcomeMsg
{
    line-height: 29px;
}

.listHeaderLink
{
    list-style: none;
    display: block;
    width: 151px;
    float: right;
    padding: 0px;
}

    .listHeaderLink li
    {
        display: block;
        float: left;
        margin-left: 15px;
    }


/*======================================================Log In Form======================================================*/
.logInFormWraper
{
    border: 0px dotted #222;
    padding: 15px;
    max-width: 450px;
    position: absolute;
    margin: auto auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 200px;
}

.wrapper
{
    margin-top: 70px;
    margin-bottom: 20px;
}

.form-signin
{
    max-width: 420px;
    padding: 30px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading
{
    text-align: center;
    margin-top: 0px;
}

.form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"]
{
    margin-bottom: 20px;
}

input[type="password"]
{
    margin-bottom: 20px;
}

.colorgraph
{
    margin-bottom: 20px;
    margin-top: 20px;
    height: 4px;
    border-top: 0;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -os-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #666;
    /*background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);*/
}

/*======================================================Dashboard ======================================================*/
.dashboardWraper
{
    padding: 0px;
}

    .dashboardWraper p
    {
        display: block;
        margin-top: 15px;
        font-size: 18px;
    }

    .dashboardWraper img
    {
        border: 2px solid #f5f5f5;
    }

        .dashboardWraper img:hover
        {
            border: 2px solid #369;
            transition: all 0.3s;
        }

/*======================================================sidebar======================================================*/

.dashboardLeftPanel
{
}

.dashboardRightPanel
{
    width: 155px;
}

.sidebar p.heading
{
    display: block;
    text-align: left;
    font-size: 16px;
    color: gray;
    font-weight: bold;
    border-bottom: 1px solid gray;
    padding: 12px 0px 8px 0px;
    margin-bottom: 10px;
}

.sidebar button
{
    width: 125px;
    text-align: left;
}

/*======================================================Common styles======================================================*/
/*====alert box====*/
.alert.alert-danger.msgToggle
{
    padding: 7px;
    margin-bottom: 10px;
    border: 0px solid transparent;
    border-radius: 4px;
}

.label
{
    display: block;
    font-size: 15px;
    padding: 0px;
    color: #999;
}

.divAdminCtrlWraper select, .divAdminCtrlWraper input
{
    height: 25px;
    padding: 0px;
    font-size: 12px;
}

.divAdminCtrlWraper input
{
    padding-left: 5px;
    padding-right: 5px;
}

.administratorCtrlPartHr
{
    padding: 0px 0px;
}

.divAdminCtrlHrSeparetor
{
    width: 90%;
    margin: 0px auto;
    height: 1px;
    background: #B6B6B4;
    margin-top: 5px;
    margin-bottom: 5px;
}


/*admin control*/
.formTimersCtrl.form-inline .form-group
{
    margin-bottom: 1px;
}

.form-inline.formTimersCtrl .form-control
{
    position: relative;
    font-size: 12px;
    height: 25px;
    padding: 0px;
}

.form-inline.formTimersCtrl input[type="text"]
{
    margin-bottom: 0px;
}

select option:empty
{
    display: none;
}

.btnStatusBox
{
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    margin-left: 0px;
    margin-right: 5px;
    border: 0px solid;
    margin-top: 0px;
    padding: 0px;
}

    .btnStatusBox img
    {
        vertical-align: baseline;
    }
/*======================================================Projects======================================================*/
.projectPanel > .panel-heading
{
/*
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
*/
    background-color: #f1f1f1;
    border: 4px solid #339999;
}

.projectsLinkHref, .projectsLinkHref:hover, .projectsLinkHref:visited, .projectsLinkHref:active
{
    text-decoration: none;
    line-height: 25px;
    font-weight: normal;
    padding-top: 25px;
    display: block;
    color: black;
    min-height: 70px;
}

.projectPanel .gHeaderArrowIcon
{
    padding-right: 5px;
    font-size: 18px;
    line-height: 24px;
}

.divAdminCtrlWraper
{
    padding-right: 5px;
    /*min-height: 77px;*/
}

.administratorCtrlPart
{
    border: 0px solid #f5f5f5;
    border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-right: 0px;
    background: white;
    padding-top: 4px;
    padding-bottom: 3px;
}

.projectPanel .administratorCtrlPart
{
    margin-top: 3px;
    margin-bottom: 3px;
}

.projectPanel .panel-body
{
    padding: 0px 10px;
    margin: 0px 0px;
    margin-top: -4px;
    background: #f1f1f1;
    border: 4px solid;
    border-top: 0px;
}


#divProjectCreateNewCtrl .btn
{
    width: 70px;
}

.administratorCtrlPart .btn
{
    font-size: 12px;
    padding: 3px 5px;
    //border-radius: 0px;
    margin-bottom: 0px;
}

    .administratorCtrlPart .btn:hover, .administratorCtrlPart .btn:focus, .administratorCtrlPart .btn:active, .administratorCtrlPart .btn:visited
    {
        font-size: 12px;
        padding: 3px 5px;
    }

.administratorCtrlPart .label
{
    background: none;
    font-size: 13px;
    padding-top: 6px;
    color: #777;
}

#modalCreateNewProject .col-sm-6
{
    padding-left: 0px;
    padding-right: 0px;
}

#modalCreateNewProject.modal-dialog
{
    width: 500px;
    margin: 30px auto;
}

#modalCreateNewProject
{
    top: 40%;
    transform: translateY(-50%);
}

    #modalCreateNewProject .modal-content
    {
        position: relative;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: unset;
        -o-border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -os-border-radius: 12px;
        border-radius: 12px;
        outline: 0;
        -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
        -o-box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
        -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
        -os-box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
        box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
        border: 2px solid #3c763d;
    }

#modalCreateNewProjec .modal-body
{
    padding-bottom: 0px;
}

.form-horizontal.formCreateNewProject .control-label
{
    padding-top: 12px;
}

.form-horizontal.formCreateNewProject input[type="text"]
{
    margin-bottom: 0px;
}

.form-horizontal.formCreateNewProject .form-group
{
    margin-bottom: 0px;
}

.formCreateNewProject .btn
{
    font-size: 18px;
}

#linkCreateNewProject, #linkCreateNewProject:hover, #linkCreateNewProject:active, #linkCreateNewProject:visited, #refreshProject, #refreshProject:hover, #refreshProject:active, #refreshProject:visited
{
    line-height: auto;
    display: block;
    /*float: left;*/
    margin: 0px 0px 0px 0px;
    color: #3c763d;
    font-weight: bold;
    font-size: 18px;
    clear: both;
}

.ulGuideList li
{
    float: left;
    display: block;
}

.spanGuideColorBox
{
    background: green;
    width: 15px;
    height: 15px;
    display: block;
    float: left;
}

/*====Red====*/
.waitPhaseRed
{
    color: #990000;
}

    .waitPhaseRed .spanGuideColorBox
    {
        background: #990000;
    }
/*====Magenta====*/
.waitingMagenta .spanGuideColorBox
{
    background: #990099;
}

.waitingMagenta
{
    color: #990099;
}

/*====Brown====*/
.waiting2Brown .spanGuideColorBox
{
    background: #86592d;
}

.waiting2Brown
{
    color: #86592d;
}




#linkCreateNewProject .glyphicon, #refreshProject .glyphicon
{
    padding-right: 5px;
    line-height: 25px;
    font-size: 16px;
}

.ddProp
{
    margin-top: 0px;
}

div.checkbox[disabled]
{
    cursor: not-allowed;
}

.divcheckbox
{
    width: 55px;
    float: left;
    margin-left: 0px;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 0px;
    line-height: 22px;
}

    .divcheckbox.checkbox input[type=checkbox], .divcheckbox.checkbox-inline input[type=checkbox]
    {
        /*outline: none;*/
    }

.gHeaderImageDiv
{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    line-height: 0px;
}

    .gHeaderImageDiv img
    {
        max-width: 100%;
        max-height: 100%;
    }
/*======================================================Phase======================================================*/
.phasePanel > .panel-heading
{
    -o-border-radius: 00px;
    -moz-border-radius: 00px;
    -webkit-border-radius: 00px;
    border-radius: 00px;
    background-color: #f5f5f5;
    border: 4px solid #339999;
}


.phaseLinkHref, .phaseLinkHref:hover, .phaseLinkHref:visited, .phaseLinkHref:active
{
    text-decoration: none;
    line-height: 26px;
    font-weight: normal;
    padding-top: 5px;
    display: block;
    color: black;
    min-height: 33px;
    /*background:red;*/
}


.phasePanel .gHeaderArrowIcon
{
    padding-right: 5px;
    font-size: 16px;
    line-height: 24px;
}

.phasePanel .divAdminCtrlWraper
{
    min-height: 25px;
    margin-top: 0px;
}


.phasePanel .administratorCtrlPart
{
    border: 0px solid #f5f5f5;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-right: 0px;
    background: rgba(0,0,0,0.0);
    padding-top: 1px;
    padding-bottom: 0px;
}

.phasePanel .panel-body
{
    padding: 0px 10px;
    background: #f5f5f5;
    border: 4px solid;
    margin-top: -4px;
}

.phasePanel .form-inline.formTimersCtrl label
{
    background: none;
    font-size: 13px;
    padding-top: 0px;
    color: #777;
    width: 100px;
}


/*======================================================Process======================================================*/
.spanBpnmName
{
    background: none;
    font-size: 13px;
    padding-top: 0px;
    color: #777;
}

.processPanel > .panel-heading
{
/*
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
*/
    background-color: #f1f1f1;
    border: 4px solid #339999;
}

.processLinkHref,
.processLinkHref:hover,
.processLinkHref:visited,
.processLinkHref:active
{
    text-decoration: none;
    line-height: 26px;
    font-weight: normal;
    padding-top: 2px;
    display: block;
    color: black;
    min-height: 27px;
}

.processPanel .administratorCtrlPart
{
    border: 0px solid #f5f5f5;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-right: 0px;
    background: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
}

.processPanel .panel-body
{
    padding: 0px 10px;
    background: #f1f1f1;
    border: 4px solid;
    margin-top: -4px;
}

.processPanel .divAdminCtrlWraper
{
    min-height: 25px;
    margin-top: 0px;
}

.processPanel .gHeaderArrowIcon
{
    padding-right: 5px;
    font-size: 14px;
    line-height: 24px;
}

.processPanel .form-inline.formTimersCtrl label
{
    background: none;
    font-size: 13px;
    padding-top: 0px;
    color: #777;
    width: 100px;
}

    .processPanel .form-inline.formTimersCtrl label.inputTimers, .processPanel .form-inline.formTimersCtrl label.inputvariables
    {
        width: 150px;
    }

.processPanel .form-inline.formTimersCtrl input
{
    width: 65px;
}

/*====btnDiagramLink====*/
.btnDiagramLink
{
    font-size: 14px;
    text-decoration: underline;
    color: #337ab7;
    background: none !important;
    border: 0px !important;
    font-weight: bold;
}

button.btnDiagramLink[disabled]
{
    color: #999;
    cursor: not-allowed;
}

/*====vertically center modal====*/
#modalDiagram.modal, #modalTimer.modal
{
    text-align: center;
    padding: 0!important;
}

    #modalDiagram.modal:before, #modalTimer.modal:before
    {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

#modalDiagram .modal-dialog, #modalTimer .modal-dialog
{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#modalDiagram .close
{
    position: absolute;
    right: -10px;
    top: -10px;
    background: white;
    width: 30px !important;
    height: 30px !important;
    z-index: 5002;
    opacity: 1;
    border: 2px solid red;
    color: red;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -os-border-radius: 50%;
    border-radius: 50%;
}
/*====Modal Width*/
#modalDiagram .modal-lg, #modalTimer .modal-lg
{
    width: 85%; /* respsonsive width */
    margin-left: -4px;
}

.modal-open
{
    padding-right: 10px;
}

/*======================================================Activity======================================================*/

.activityPanel > .panel-heading
{
/*
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
*/
    background-color: #f5f5f5;
    border: 4px solid #339999;
}

.activityLinkHref,
.activityLinkHref:hover,
.activityLinkHref:visited,
.activityLinkHref:active
{
    text-decoration: none;
    line-height: 27px;
    font-weight: normal;
    padding-top: 5px;
    display: block;
    color: black;
    min-height: 27px;
}

.activityPanel .administratorCtrlPart
{
    border: 0px solid #f5f5f5;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-right: 0px;
    background: rgba(0,0,0,0.0);
    padding-top: 1px;
    padding-bottom: 0px;
}

.activityPanel .panel-body
{
    padding: 0px 10px;
    background: #f5f5f5;
    border: 4px solid;
    margin-top: -4px;
}

.activityPanel .divAdminCtrlWraper
{
    min-height: 25px;
    margin-top: 0px;
    /*padding-left: 51px;*/
    text-align: right;
    padding-top: 0px;
    padding-bottom: 0px;
}

.activityPanel .gHeaderArrowIcon
{
    padding-right: 5px;
    font-size: 14px;
    line-height: 24px;
}

.activityPanel .form-inline.formTimersCtrl label
{
    background: none;
    font-size: 13px;
    padding-top: 0px;
    color: #777;
    width: 100px;
}


.accordion-toggle
{
    display: block;
}

/*======================================================Action======================================================*/

.actionPanel > .panel-heading
{
/*
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
*/
    background-color: #f1f1f1;
    border: 4px solid #339999;
}


.actionLinkHref, .actionLinkHref:hover, .actionLinkHref:visited, .actionLinkHref:active
{
    text-decoration: none;
    line-height: 27px;
    font-weight: normal;
    padding-top: 19px;
    display: block;
    color: black;
    min-height: 52px;
}

.actionPanel .administratorCtrlPart
{
    border: 0px solid #f5f5f5;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-right: 0px;
    background: rgba(0,0,0,0.0);
    padding-top: 1px;
    padding-bottom: 0px;
}

.actionPanel .panel-body
{
    padding: 0px 25px;
    background: #f1f1f1;
    border: 4px solid;
    margin-top: -4px;
/*
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -os-border-radius: 10px;
    border-radius: 10px;
*/
}

.actionPanel .divAdminCtrlWraper
{
    min-height: 25px;
    margin-top: 0px;
    padding-left: 53px;
}


.actionPanel .gHeaderArrowIcon
{
    padding-right: 5px;
    font-size: 12px;
    line-height: 24px;
}

.actionPanel .form-inline.formTimersCtrl label
{
    background: none;
    font-size: 13px;
    padding-top: 0px;
    color: #777;
    width: 70px;
}

.actionPanel .form-inline.formTimersCtrl input[type="text"]
{
    width: 135px;
}

.action .ddProp .btn, .action .ddProp .btn:hover, .action .ddProp .btn:focus, .action .ddProp .btn:active, .action .ddProp .btn:visited
{
    color: #000;
}


.browseBtn
{
/*display: block;
width: 70px;
padding: 0px;
font-size: 12px;*/
margin-left: 10px;
/*height: 30px;
padding-top: 0px;
text-align: center;
line-height: 30px;*/
/*-o-border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
cursor:pointer;*/
float: left;
background: gray;
border: 1px solid dimgray;
color: white;
font-weight: bold;

}

/*========================tableActionDetails========================*/
.tableActionDetails
{
    margin-bottom: 10px;
}

    .tableActionDetails th
    {
        background: rgba(0,0,0,0.1);
    }

.table.tableActionDetails > tbody > tr > td, .table.tableActionDetails > tfoot > tr > td
{
    border-top: 1px solid #aaa;
}


.actionContentPart
{
    border: 0px solid#333;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -os-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 5px 5px;
    margin-bottom: 0px;
    background: rgba(0, 0, 0, .05);
    width: 48%;
}

.thActionDescription
{
    font-size: 13px;
    text-align: left;
    line-height: 17px;
    padding-top: 6px;
    color: #666;
    padding-bottom: 0px;
}


.thActionContentFooter, .thActionDescription
{
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -os-border-radius: 8px;
    border-radius: 8px;
    border-top: 0px !important;
}

.actionContentPartHeading
{
    font-weight: bold;
    text-align: left;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px dashed #333;
    display: block;
    margin: 0px auto;
    width: 95%;
    margin-bottom: 4px;
}

.actionContentPart .spanDocumentName
{
    line-height: 28px;
}

.actionContentPart a
{
    padding-bottom: 2px;
    padding-top: 2px;
    display: block;
    font-weight: bold;
}


.actionContent
{
    width: 95%;
    text-align: left;
    display: block;
    margin: 2px auto;
    clear: both;
}


/*======================================================Global======================================================*/
.fl
{
    float: left;
}

.fr
{
    float: right;
}

.clr
{
    clear: both;
}

img
{
    max-width: 100%;
    max-height: 100%;
}

.noBorderBottom
{
    border-bottom: none;
}

.mb20
{
    margin-bottom: 20px;
}


/*==================================================bootstrap customize================================================*/
.list-group-item
{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
}

.panel-heading
{
    padding: 2px 2px;
}


.collapse.in
{
    height: auto !important;
}

.panel
{
    margin-bottom: 20px;
    background-color: transparent !important;
    border: 0px solid transparent;
    -o-border-radius: 4px;
    -os-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -o-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
    -os-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
}

/*.panel {
    margin-bottom: 20px;
    background-color:transparent
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}*/

.panel-group
{
    margin-bottom: 10px;
    margin-top: 0px;
}


    .panel-group .panel-heading + .panel-collapse > .panel-body
    {
        /*border-top: 0px solid #ddd;*/
/*
        -o-border-radius: 00px;
        -webkit-border-radius: 00px;
        -moz-border-radius: 00px;
        -os-border-radius: 00px;
        border-radius: 00px;
        -o-border-top-left-radius: 0px;
        -moz-border-top-left-radius: 0px;
        -webkit-border-top-left-radius: 0px;
        -os-border-top-left-radius: 0px;
        border-top-left-radius: 0px;
        -o-border-top-right-radius: 0px;
        -webkit-border-top-right-radius: 0px;
        -moz-border-top-right-radius: 0px;
        -os-border-top-right-radius: 0px;
        border-top-right-radius: 0px;
*/
        border-top: 0px solid #ddd;
    }

    .panel-group .panel
    {
        margin-bottom: 0;
        -o-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -os-border-radius: 10px;
        border-radius: 10px;
    }

input.form-control, select.form-control
{
/*
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -os-border-radius: 0px;
    border-radius: 0px;
*/
}
/*=====================================================@media screen (1200px)====================================*/
@media only screen and (max-width:1200px)
{
    /*======================================================Phase======================================================*/
    .phaseLinkHref, .phaseLinkHref:hover, .phaseLinkHref:visited, .phaseLinkHref:active
    {
        text-decoration: none;
        line-height: 26px;
        font-weight: normal;
        padding-top: 10px;
        display: block;
        color: black;
        min-height: 50px;
    }


    .phasePanel .spanAdminWrap
    {
        display: block;
        width: 100%;
    }

    /*======================================================Process======================================================*/
    .processPanel .form-inline.formTimersCtrl label.inputTimers, .processPanel .form-inline.formTimersCtrl label.inputvariables
    {
        width: 140px;
    }



    /*======================================================Activity======================================================*/
    .activityPanel .divAdminCtrlWraper
    {
        /*padding-left: 51px;*/
        text-align: right;
    }

    /*======================================================Action======================================================*/
    /*.actionPanel .divAdminCtrlWraper
    {
        padding-left: 52px;
    }*/
}
/*=====================================================@media screen (992px)====================================*/
@media only screen and (max-width:992px)
{
    /*======================================================Phase======================================================*/
    .phasePanel .spanAdminWrap
    {
        display: block;
        width: 100%;
    }



    /*======================================================Activity======================================================*/
    .activityPanel .divAdminCtrlWraper
    {
        /*padding-left: 57px;*/
    }

    /*======================================================Action======================================================*/
    /*.actionPanel .divAdminCtrlWraper
    {
        padding-left: 51px;
    }*/
}

/*=====================================================@media screen (768px)====================================*/
@media only screen and (max-width:768px)
{

    /*============================================modal================================*/
    #modalCreateNewProject .col-sm-6
    {
        padding-left: 15px;
        padding-right: 15px;
    }

    /*============================================create / refresh button================================*/

    #linkCreateNewProject, #linkCreateNewProject:hover, #linkCreateNewProject:active, #linkCreateNewProject:visited, #refreshProject, #refreshProject:hover, #refreshProject:active, #refreshProject:visited
    {
        line-height: auto;
        display: block;
        /*float: left;*/
        margin: 0px 0px 0px 0px;
        color: #3c763d;
        font-weight: bold;
        font-size: 18px;
        clear: both;
    }

    #divProjectCreateNew .text-left
    {
        text-align: center;
    }

    #divprojectRefresh .text-right
    {
        text-align: center;
    }


    label, input, button, select
    {
        margin-bottom: 2px !important;
    }



    /*======================================================Phase======================================================*/


    .phasePanel .spanAdminWrap
    {
        display: inline-block;
        width: auto;
    }

    .phasePanel .form-inline.formTimersCtrl .form-group
    {
        float: none;
        margin-bottom: 5px;
        margin-left: auto;
        width: 100%;
        margin-right: auto;
        text-align: left;
    }

    .phasePanel .form-inline.formTimersCtrl label
    {
        background: none;
        font-size: 13px;
        padding-top: 5px;
        color: #777;
        width: 100px;
        float: left;
    }

    .phasePanel .form-control
    {
        width: 135px;
        float: left;
        margin-right: 5px;
    }


    /*======================================================Process======================================================*/
    /*==========Process Heading=========*/
    .spanBpnmName
    {
        display: block;
    }


    .divAdminCtrlWraper
    {
        padding-right: 15px;
    }

    .list-group-item.projects, .list-group-item.phase, .list-group-item.activity, .list-group-item.action
    {
        padding-left: 0px;
    }


    /*======================================================Activity======================================================*/
    .activityPanel .divAdminCtrlWraper
    {
        padding-left: 0%;
    }

    .administratorCtrlPartHr
    {
        text-align: right;
    }

    .activityPanel .form-inline.formTimersCtrl label
    {
        float: left;
        margin-right: 5px;
    }

    .activityPanel .form-inline.formTimersCtrl .form-group
    {
        float: right;
        margin-bottom: 5px;
        margin-left: auto;
        width: auto;
        margin-right: auto;
        text-align: right;
    }

    .activityPanel input.form-control
    {
        width: 135px;
        float: left;
        margin-right: 5px;
    }

    .activityPanel .form-control
    {
        width: 65px;
        float: left;
        margin-right: 5px;
    }

    /*======================================================Action======================================================*/
    .actionContentPart
    {
        border: 0px solid#333;
/*
        -o-border-radius: 0px;
        -moz-border-radius: 0px;
        -os-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
*/
        padding: 10px 10px;
        margin-bottom: 15px;
    }

    .actionPanel .divAdminCtrlWraper
    {
        padding-left: 0px;
    }

    .actionPanel .form-inline.formTimersCtrl label
    {
        width: 70px;
        float: left;
        margin-right: 5px;
    }

    .actionPanel .form-control
    {
        width: 135px;
        float: left;
        margin-right: 5px;
    }

    .actionPanel .form-inline.formTimersCtrl button
    {
        float: left;
    }

    .actionPanel .form-inline.formTimersCtrl .form-group
    {
        float: right;
        margin-bottom: 5px;
        margin-left: auto;
        width: auto;
        margin-right: auto;
        text-align: right;
    }
}


/*=====================================================@media screen (480px)====================================*/
@media only screen and (max-width:480px)
{




    /*======================================================Header======================================================*/
    .logo
    {
        height: auto;
        margin: 0px auto;
        display: block;
        width: 64px;
        text-align: center;
    }

    #divWelcomeMsg
    {
        margin-top: 10px;
    }

        #divWelcomeMsg .text-right
        {
            text-align: center;
        }

    .listHeaderLink
    {
        width: 140px;
        display: block;
        margin: 0px auto;
        padding-left: 0px;
        float: none;
    }

        .listHeaderLink li
        {
            display: block;
            width: 100%;
            float: left;
            text-align: center;
            margin-left: 0px;
        }



    .activityPanel .divAdminCtrlWraper
    {
        padding-right: 0px;
        /*min-height: 77px;*/
    }


    [class*="col-xs-"]
    {
        width: 100%;
    }

    /*======================================================Project======================================================*/
    /*=====table panel=====*/
    button.btn.nav-button
    {
        width: 25px !important;
    }

    /*=====Project Heading and Admin Control 100%=====*/
    .col-xs-5.projectsLinkHref
    {
        width: 100% !important;
    }

    #divProjectCreateNewCtrl
    {
        width: 100%;
    }

    .col-xs-5.projectsLinkHref .gHeaderArrowIcon, .col-xs-5.projectsLinkHref .button
    {
        /*float: left;*/
    }
    /*=============checkbox style========*/
    .divcheckbox.checkbox input[type=checkbox], .divcheckbox.checkbox-inline input[type=checkbox]
    {
        margin-right: -0px;
        margin-left: -41px;
        outline: none;
    }

    .divcheckbox
    {
        margin-left: 0px;
    }

    /*======================================================Phase======================================================*/

    #divPhaseCreateNewCtrl
    {
        padding-left: 15px;
    }

    .phasePanel .spanAdminWrap
    {
        display: block;
        width: 100%;
    }

    #divPhaseCreateNewCtrl .form-group
    {
        clear: both;
        display: block;
    }

    label, input, button, select
    {
        width: 100% !important;
        clear: both;
        margin-bottom: 2px !important;
    }

    .form-group
    {
        width: 100% !important;
    }
    /*status box*/
    .btnStatusBox
    {
        width: 26px !important;
    }

    /*======================================================Action======================================================*/
    .actionContentPart
    {
        width: 100%;
    }
}







/*======================================================setStatus Color======================================================*/

/*====Yellow====*/
.panel.panel-default.Yellow > .panel-heading, .panel.panel-default.Yellow > .panel-collapse.collapse > .panel-body
{
    /*background-color: #ffffcc;*/
    border-color: #e6b800;
}
/*====Green====*/
.panel.panel-default.Green > .panel-heading, .panel.panel-default.Green > .panel-collapse.collapse > .panel-body
{
    /*background-color: #c2f0c2;*/
    border-color: #1e7b1e;
}
/*====Red====*/
.panel.panel-default.Red > .panel-heading, .panel.panel-default.Red > .panel-collapse.collapse > .panel-body
{
    /*background-color: #ffb3b3;*/
    border-color: #990000;
}
/*====Magenta====*/
.panel.panel-default.Magenta > .panel-heading, .panel.panel-default.Magenta > .panel-collapse.collapse > .panel-body
{
    /*background-color: #ffb3ff;*/
    border-color: #990099;
}
/*====Gray====*/
.panel.panel-default.Gray > .panel-heading, .panel.panel-default.Gray > .panel-collapse.collapse > .panel-body
{
    /*background-color: #d9d9d9;*/
    border-color: #4d4d4d;
}
/*====Brown====*/
.panel.panel-default.Brown > .panel-heading, .panel.panel-default.Brown > .panel-collapse.collapse > .panel-body
{
    /*background-color: #ecd9c6;*/
    border-color: #b35900;
}




/*======================================================status box======================================================*/

/*====Yellow====*/
.Yellow.btnStatusBox
{
    background-color: #ffffcc;
    /*border-color: #e6b800;*/
}
/*====Green====*/
.Green.btnStatusBox
{
    background-color: #c2f0c2;
    /*border-color: #1e7b1e;*/
}
/*====Red====*/
.Red.btnStatusBox
{
    background-color: #ffb3b3;
    /*border-color: #990000;*/
}
/*====Magenta====*/
.Magenta.btnStatusBox
{
    background-color: #ffb3ff;
    /*border-color: #990099;*/
}
/*====Gray====*/
.Gray.btnStatusBox
{
    background-color: #d9d9d9;
    /*border-color: #666;*/
}
/*====Brown====*/
.Brown.btnStatusBox
{
    background-color: #ffbf80;
    /*border-color: #86592d;*/
}



/*======================================================angular-ui-tab-scroll======================================================*/
.ui-tabs-scrollable
{
    position: relative;
}

    .ui-tabs-scrollable .nav-tabs
    {
        white-space: nowrap;
        overflow: hidden;
        height: 30px!important;
        border-bottom: 0!important;
    }

    .ui-tabs-scrollable .spacer:not(.hidden-buttons)
    {
        margin-left: 25px;
        margin-right: 25px;
    }

        .ui-tabs-scrollable .spacer:not(.hidden-buttons) .tab-content
        {
            margin-left: -25px;
            margin-right: -25px;
        }


    /*Normal state style*/
    .ui-tabs-scrollable .nav > li
    {
        float: none;
        display: inline-block;
        height: 30px!important;
        border-bottom: 1px solid #ddd;
        background: gray;
        margin-left: 1px;
        -moz-border-radius: 4px 4px 0 0;
        -o-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }

    .ui-tabs-scrollable li a
    {
        color: white;
        font-weight: bold;
        font-size: 13px;
        padding: 0px 0px;
    }

#divDemoUserShow .nav > li > a
{
    position: relative;
    display: block;
    padding: 0px 0px;
    margin-right: 0px;
}

    #divDemoUserShow .nav > li > a div
    {
        padding: 4px 15px;
    }

/*Hover state Style*/
#divDemoUserShow .nav-tabs > li:hover > a, #divDemoUserShow .nav-tabs > li:hover > a:hover, #divDemoUserShow .nav-tabs > li:hover > a:focus
{
    background: gray;
    color: yellow;
    cursor: pointer;
    border: 1px solid gray;
    border-bottom-color: transparent;
}
/*Active state style*/
#divDemoUserShow .nav-tabs > li.active > a, #divDemoUserShow .nav-tabs > li.active > a:hover, #divDemoUserShow .nav-tabs > li.active > a:focus
{
    color: #1240DF;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-bottom: 0px;
    height: 31px;
}

#divDemoUserShow .tab-pane
{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #1240DF;
}



.ui-tabs-scrollable .spacer:not(.hidden-buttons) .nav > li:first-child.active a,
.ui-tabs-scrollable .spacer:not(.hidden-buttons) .nav > li:first-child a:hover
{
    border-top-left-radius: 0!important;
    border-left: 1px solid transparent;
}

.ui-tabs-scrollable .spacer:not(.hidden-buttons) .nav > li:last-child.active a,
.ui-tabs-scrollable .spacer:not(.hidden-buttons) .nav > li:last-child a:hover
{
    border-top-right-radius: 0!important;
    border-right: 1px solid transparent;
    margin-right: -1px;
}

.ui-tabs-scrollable .nav-button
{
    position: absolute;
    width: 25px;
    height: 30px!important;
    line-height: 30px;
    top: 0;
    color: #1240DF;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 0!important;
    padding: 0!important;
    background-color: #fff;
    z-index: 10;
}

    .ui-tabs-scrollable .nav-button:hover
    {
        background-color: #eee;
    }

.ui-tabs-scrollable .left-nav-button
{
    left: 0;
    border-top-left-radius: 4px!important;
}

.ui-tabs-scrollable .right-nav-button
{
    right: 0;
    border-top-right-radius: 4px!important;
}

