<div class="container" data-ng-controller="BpmnViewerCtrl">
    <div style="text-align:center;">BpmnViewer</div>

    <div cam-widget-bpmn-viewer id="viewer1"
        diagram-data='diagramXML'
        control='control'
        on-click='handleClick(element)'
        on-mouse-enter='mouseEnter(element)'
        on-mouse-leave='mouseLeave(element)'
        style="height: 400px;">
    </div>

    Hovering over: {{hovering}} Selected elements: {{selectedNodes}}<br />
    JSON: {{diagramXML.split('<').join('&lt;').split('&').join('&amp;')}}

    <select class="form-control" data-ng-click="$event.stopPropagation();" id="ddlPhaseType" name="ddlPhaseType"
            data-ng-model="selectedPhaseName" data-ng-change="phaseSelected()">
        <option data-ng-repeat="phase in phaseNames" value="Phase-{{phase}}">{{phase}}</option>
    </select>
</div>
<!--//===============================container============================-->
