<div class="container" data-ng-controller="BuildWhizNgAppDashboardCtrl">

    <div class="col-lg-10 col-md-10 col-xs-9 dashboardLeftPanel mb20">
        <div>
            <button data-ng-click="manageProject_Click()" class="btn btn-primary">
                <span class="glyphicon glyphicon-tasks"></span> Projects
            </button>
            <button data-ng-click="userProfile_Click()" class="btn btn-primary">
                <span class="glyphicon glyphicon-user"></span> Profile 
            </button>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-xs-3 dashboardRightPanel" style="background: #f1f1f1;">
        <div class="sidebar text-left">
            <p class="heading">System Options</p>
            <p>
                <button data-ng-click="manageMongodb_Click()" class="btn btn-primary"><span class="glyphicon glyphicon-hdd"></span> MongoDB</button></p>
            <p>
                <button data-ng-click="manageBpmnViewer_Click()" class="btn btn-primary"><span class="glyphicon glyphicon-share-alt"></span> BpmnViewer</button></p>
            <p>
                <button data-ng-click="manageDocuments_Click()" class="btn btn-primary"><span class="glyphicon glyphicon-share-alt"></span> Documents</button></p>
        </div>
    </div>

</div>
<!--//===============================container============================-->
