<div class="container" data-ng-controller="BuildWhizNgAppDashboardCtrl">

    <div class="col-lg-10 col-md-10 col-xs-9 dashboardLeftPanel mb20">
        <div class="sidebar text-left">
            <p><button data-ng-click="manageProject_Click()" class="btn btn-primary">
                <span class="glyphicon glyphicon-tasks"></span> Projects
            </button></p>
            <p><button data-ng-click="rfi_Click()" class="btn btn-primary">
                <span class="glyphicon glyphicon-info-sign"></span> RFI
            </button></p>
            <p><button data-ng-click="userProfile_Click()" class="btn btn-primary">
                <span class="glyphicon glyphicon-user"></span> Profile
            </button></p>
        </div>
    </div>

    <div data-ng-if="isAdministrator()" class="col-lg-2 col-md-2 col-xs-3 dashboardRightPanel">
        <div class="sidebar text-left">
            <!--p class="heading">Administration</p-->
            <p>
                <button data-ng-click="manageMongodb_Click()" class="btn btn-primary"><span class="glyphicon glyphicon-hdd"></span> MongoDB</button></p>
            <p>
                <button data-ng-click="manageBpmnViewer_Click()" class="btn btn-primary"><span class="glyphicon glyphicon-share-alt"></span> BpmnViewer</button></p>
            <p>
                <button data-ng-click="manageDocuments_Click()" class="btn btn-primary"><span class="glyphicon glyphicon-file"></span> Documents</button></p>
        </div>
    </div>

</div>
<!--//===============================container============================-->
