<div class="container" data-ng-controller="DocumentsCtrl as docCtrl">
    <div class="alert alert-danger msgToggle" style="display: none;">
        <div id="lblMsg" class="text-center text-danger"></div>
    </div>

    <p style="text-align:center; font-size: large;">Preload Document Management</p>

    <div data-ng-if="docCtrl.isWaiting" style="position: fixed; top: 0px; left: 0; z-index: 9999; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8);">
        <img src="css/images/animatedEllipse.gif" style="position: absolute; z-index: 10000; display: block; margin: auto auto; left: 0px; right: 0px; top: 0px; bottom: 0px;" />
    </div>

    <div style="height:30px;">
        <span class="pull-left">
            Select Project
            <select data-ng-click="$event.stopPropagation();" data-ng-model="docCtrl.selectedProjectId"
                data-ng-change="docCtrl.projectSelected()">
                <option data-ng-repeat="project in docCtrl.projects" value="{{project._id}}">{{project.name}}</option>
            </select>
        </span>
        <button data-ng-disabled="docCtrl.selectedProjectId == null" data-ng-click="docCtrl.projectSelected()"
                class="btn btn-primary btn-xs pull-right">Refresh</button>
    </div>

    <table data-ng-if="docCtrl.documents.length != 0" class="table table-condensed table-bordered">
        <tr class="bg-primary text-center">
            <td style="align: center;">Type</td><td style="align: center;">Name</td><td style="align: center;">Upload</td><td style="align: center;">Download</td></tr>
        <tr data-ng-repeat="document in docCtrl.documents" class="table table-hover">
            <td>{{document.document_type}}</td><td>{{document.name}}</td>
            <td class="center-block">
                <input bw-upload2 type="file" projectid="docCtrl.selectedProjectId" documentid="document._id"
                    ngcontroller="docCtrl" />
            </td>
            <td class="text-center">
                <a data-ng-if="document.available" href="{{docCtrl.getDownloadLink(document)}}" target="_blank">link</a></td>
        </tr>
    </table>
</div>
<!--//===============================container============================-->
