<div class="container" data-ng-controller="DocumentsCtrl as docCtrl">
    <div class="alert alert-danger msgToggle" style="display: none;">
        <div id="lblMsg" class="text-center text-danger"></div>
    </div>

    <p style="text-align:center; font-size: large;">Preload Document Management</p>

    <span class="bg-primary">Select Project</span>
    <select data-ng-click="$event.stopPropagation();" data-ng-model="docCtrl.selectedProjectId"
            data-ng-change="docCtrl.projectSelected()">
        <option data-ng-repeat="project in docCtrl.projects" value="{{project._id}}">{{project.name}}</option>
    </select><br /><br />

    <table data-ng-if="docCtrl.documents.length != 0" class="table table-condensed table-bordered">
        <tr class="bg-primary text-center">
            <td style="align: center;">Type</td><td style="align: center;">Name</td><td style="align: center;">Upload</td><td style="align: center;">Download</td></tr>
        <tr data-ng-repeat="document in docCtrl.documents" class="table table-hover">
            <td>{{document.document_type}}</td><td>{{document.name}}</td>
            <td class="center-block">
                <input bw-upload2 type="file" projectid="docCtrl.selectedProjectId" documentid="document._id" />
            </td>
            <td class="text-center">
                <a data-ng-if="document.available" href="{{docCtrl.getDownloadLink(document)}}" target="_blank">link</a></td>
        </tr>
    </table>
</div>
<!--//===============================container============================-->
