<div class="container" data-ng-controller="RFICtrl as rfiCtrl">

    <div data-ng-if="rfiCtrl.isWaiting" style="position: fixed; top: 0px; left: 0; z-index: 9999; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8);">
        <img src="css/images/animatedEllipse.gif" style="position: absolute; z-index: 10000; display: block; margin: auto auto; left: 0px; right: 0px; top: 0px; bottom: 0px;" />
    </div>

    <p style="text-align:center; font-size: large;">RFI Management</p>

    <table><tr>
        <td width="15%" style="vertical-align:top; padding-right:10px;">
            <table class="table table-bordered table-sm">
                <tr data-ng-repeat="action in rfiCtrl.ownedActions">
                    <td>
                        <span class="glyphicon glyphicon-stop"
                            style="color:{{rfiCtrl.statusColor(action)}}; border: 1px solid black">
                        </span>
                        <a href="#" data-ng-click="rfiCtrl.actionSelected(action)" data-toggle="tooltip"
                           title="{{action.group_name}}">{{rfiCtrl.actionLabel(action)}}</a>
                    </td>
                </tr>
            </table>
        </td>
        <td width="85%" style="vertical-align:top;">
            <table data-ng-if="rfiCtrl.selectedAction" class="table table-bordered table-sm">
                <tr class="bg-primary text-center"><td colspan="3">{{rfiCtrl.actionLabel(rfiCtrl.selectedAction)}}</td></tr>
                <tr class="bg-primary text-center"><td>Time</td><td>Type</td><td>Text</td></tr>
                <tr data-ng-repeat="rfiDoc in rfiCtrl.rfiDocuments">
                    <td class="text-center">{{rfiDoc.time}}</td>
                    <td class="text-center">{{rfiDoc.type}}</td>
                    <td>{{rfiDoc.text}}</td>
                </tr>
            </table>
            <table data-ng-if="rfiCtrl.selectedAction" class="table table-bordered table-sm">
                <tr class="bg-primary text-left">
                    <td>
                        <button type="button" class="btn btn-danger btn-xs" data-ng-click="rfiCtrl.btnRfiClick()">
                            <span class="glyphicon glyphicon-info-sign"></span> Send
                        </button>
                    </td>
                </tr>
            </table>
        </td>
    </tr></table>

</div>
<!--//===============================container============================-->
