<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>UploadFile</title>
  </head>
  <body data-ng-app="BuildWhizDev" data-ng-controller="DevController as devCtrl">
    <h2>Remember to UPDATE after uploading one or more files</h2><br>

    <form method="post" action="tools/UploadFile?file_location=html/bpmn.html" enctype="multipart/form-data">
        bpmn.html: <input type="file" accept="text/html" name="file">
        <input type="submit">
    </form>
    <form method="post" action="tools/UploadFile?file_location=js/controller-bpmn.js" enctype="multipart/form-data">
        controller-bpmn.js: <input type="file" accept="text/js" name="file">
        <input type="submit">
    </form>

    <h3>UPDATE</h3>
    <form method="post" action="tools/UploadFile" enctype="multipart/form-data">
        <input type="submit" name="file">
    </form><br/>

    <h3>Test</h3>
    <input type="text" size="100" data-ng-model="devCtrl.uri"><br/>
    <button data-ng-click="devCtrl.post()">Post</button>
    <h4>Status</h4>
    <p id="status-paragraph"></p>

    <script src="js/lib/angular.min.js"></script>
    <script type="text/javascript">
      var module = angular.module('BuildWhizDev', []);

      module.controller('DevController', ['$http', '$log', '$document',
          function ($http, $log, $document) {
        var self = this;

        self.uri = '';

        self.post = function() {
          $log.log('Called post()');
          $http.post(self.uri).then(
            function(resp) {
              $log.log('OK POST: ' + JSON.stringify(resp));
            },
            function(resp) {
              $document[0].getElementById("status-paragraph").innerHTML = resp.data;
              $log.log('ERROR POST: ' + JSON.stringify(resp));
            }
          );
        };
      }]);
    </script>
  </body>
</html>

