<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>UploadFile</title>
  </head>
  <body data-ng-app="BuildWhizDev" data-ng-controller="DevController as devCtrl">
    <h2>Remember to click COMMIT after uploading each group of files</h2><br>

    <table border="1">
      <tr><td>
        <form method="post" action="tools/UploadFile?file_location=." enctype="multipart/form-data">
          BASE: <input type="file" name="file">
          <input type="submit" value="Upload">
        </form>
      </td></tr>
      <tr><td>
        <form method="post" action="tools/UploadFile?file_location=assets" enctype="multipart/form-data">
          assets: <input type="file" name="file">
          <input type="submit" value="Upload">
        </form>
      </td></tr>
      <tr><td>
        <form method="post" action="tools/UploadFile?file_location=css" enctype="multipart/form-data">
          css: <input type="file" accept="text/css" name="file">
          <input type="submit" value="Upload">
        </form>
      </td></tr>
      <tr><td>
        <form method="post" action="tools/UploadFile?file_location=images" enctype="multipart/form-data">
          images: <input type="file" accept="image" name="file">
          <input type="submit" value="Upload">
        </form>
      </td></tr>
      <tr><td>
        <form method="post" action="tools/UploadFile?file_location=html" enctype="multipart/form-data">
          html: <input type="file" accept="text/html" name="file">
          <input type="submit" value="Upload">
        </form>
      </td></tr>
      <tr><td>
        <form method="post" action="tools/UploadFile?file_location=js" enctype="multipart/form-data">
          js: <input type="file" accept="text/js" name="file">
          <input type="submit" value="Upload">
        </form>
      </td></tr>
    </table>

    <h3>COMMIT</h3>
    <form method="post" action="tools/UploadFile" enctype="multipart/form-data">
        <input type="submit" name="file" value="Commit">
    </form><br/>

    <h3>Test</h3>
    <input type="text" size="100" data-ng-model="devCtrl.uri"><br/>
    <button data-ng-click="devCtrl.post()">Post</button>
    <h4>Status</h4>
    <p id="status-paragraph"></p>

    <script src="bw/angular.min.js"></script>
    <script type="text/javascript">
      var module = angular.module('BuildWhizDev', []);

      module.controller('DevController', ['$http', '$log', '$document',
          function ($http, $log, $document) {
        var self = this;

        self.uri = '';

        self.post = function() {
          $log.log('Called post()');
          $http.post(self.uri).then(
            function(resp) {
              $log.log('OK POST: ' + JSON.stringify(resp));
            },
            function(resp) {
              $document[0].getElementById("status-paragraph").innerHTML = resp.data;
              $log.log('ERROR POST: ' + JSON.stringify(resp));
            }
          );
        };
      }]);
    </script>
  </body>
</html>

