<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

  <context-param>
    <param-name>contextClass</param-name>
    <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>org.camunda.bpm.getstarted.loanapproval.LoanApplicationContext</param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <listener>
    <listener-class>com.buildwhiz.infra.ServletContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>GraphQLHttpService</servlet-name>
    <servlet-class>com.buildwhiz.graphql.GraphQLHttpService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraphQLHttpService</servlet-name>
    <url-pattern>/graphql/graphql</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Entry</servlet-name>
    <servlet-class>com.buildwhiz.Entry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entry</servlet-name>
    <url-pattern>/dot/*</url-pattern>
    <url-pattern>/baf/*</url-pattern>
    <url-pattern>/api/*</url-pattern>
    <url-pattern>/web/*</url-pattern>
    <url-pattern>/etc/*</url-pattern>
    <url-pattern>/tools/*</url-pattern>
    <url-pattern>/old/baf/*</url-pattern>
    <url-pattern>/old/api/*</url-pattern>
    <url-pattern>/old/web/*</url-pattern>
    <url-pattern>/old/etc/*</url-pattern>

    <url-pattern>/baf2/*</url-pattern>
    <url-pattern>/baf3/*</url-pattern>
    <url-pattern>/slack/*</url-pattern>

    <url-pattern>/old123/dot/*</url-pattern>
    <url-pattern>/old123/baf/*</url-pattern>
    <url-pattern>/old123/baf2/*</url-pattern>
    <url-pattern>/old123/api/*</url-pattern>
    <url-pattern>/old123/web/*</url-pattern>
    <url-pattern>/old123/etc/*</url-pattern>
    <url-pattern>/old123/tools/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>ExpiresFilter</filter-name>
    <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
    <init-param>
      <param-name>ExpiresByType text/html</param-name>
      <param-value>access plus 10 seconds</param-value>
    </init-param>
    <init-param>
      <param-name>ExpiresByType text/css</param-name>
      <param-value>access plus 10 seconds</param-value>
    </init-param>
    <init-param>
      <param-name>ExpiresByType text/javascript</param-name>
      <param-value>access plus 10 seconds</param-value>
    </init-param>
    <init-param>
      <param-name>ExpiresByType application/javascript</param-name>
      <param-value>access plus 10 seconds</param-value>
    </init-param>
    <init-param>
      <param-name>ExpiresByType image</param-name>
      <param-value>access plus 10 seconds</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>ExpiresFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>http://buildwhiz.vvsindia.com,http://localhost:4200,http://localhost:8080,https://www.buildwhiz.com,http://test.buildwhiz.com:8080,https://test2.buildwhiz.com,https://accounts.google.com,http://buildwhiz.vvsindia.com</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.headers</param-name>
      <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
    </init-param>
    <init-param>
      <param-name>cors.exposed.headers</param-name>
      <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
    </init-param>
    <init-param>
      <param-name>cors.support.credentials</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>cors.preflight.maxage</param-name>
      <param-value>10</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>